<div data-hook="admin_product_form_fields">  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :city_id do %>
      <%= f.label :city_id, "City" %>
      <%= f.select :city_id, options_for_select(Spree::City.where(country_id: Spree::Country.find_by_iso('ID').try(:id)).order(:name).map{|x| [x.name, x.id]}, selected: f.object.city_id), {}, class: "fullwidth select2" %>
      <%= f.error_message_on :city_id %>
    <% end %>

    <%= f.field_container :sub_district_id do %>
      <%= f.label :sub_district_id, "District" %>
      <%= f.select :sub_district_id, options_for_select(Spree::SubDistrict.order(:name).map{|x| [x.name, x.id]}, selected: f.object.sub_district_id),{}, class: "fullwidth select2" %>
      <%= f.error_message_on :city_id %>
    <% end %>

    <%- %w(reg oke yes).each do |t| %>
      <%= f.field_container "#{t}_price".to_sym do %>
        <%= f.label "#{t}_price".to_sym, "#{t.titleize} Price" %>
        <%= f.text_field "#{t}_price".to_sym, :class => 'fullwidth' %>
        <%= f.error_message_on "#{t}_price".to_sym %>
      <% end %>

      <%= f.field_container "#{t}_estimation".to_sym do %>
        <%= f.label "#{t}_estimation".to_sym, "#{t} Estimation" %>
        <%= f.text_field "#{t}_estimation".to_sym, :class => 'fullwidth' %>
        <%= f.error_message_on "#{t}_estimation".to_sym %>
      <% end %>
    <% end %>
  </div>
</div>