<% content_for :page_title do %>
  <%= Spree.t(:listing_jne_shippings) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new), new_admin_jne_shipping_url, :icon => 'plus', :id => 'admin_new_shipping' %>
  </li>
<% end if can? :edit, Spree::Page.new %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:filter) %>
<% end %>

<% content_for :table_filter do %>
  <div class="alpha eight columns" data-hook="admin_product_reviews_sidebar">
    <%= form_tag upload_admin_jne_shippings_path, multipart: true do |f| %>
        <div data-hook="admin_product_reviews_index_search">
          <div class="alpha nine columns">
            <div class="field">
              <%= label_tag :upload_data, "Upload Data Jne Terbaru" %>
              <%= file_field_tag :upload_data %>
            </div>
          </div>
          <div class="alpa nine columns">
            <p>
               Download sample data</br>
               <a href="/spree/sample_shippings/jne.xls">Jne XLS</a>
            </p>
          </div>
        </div>
        <div data-hook="admin_product_reviews_index_search">
          <div class="alpha nine columns">
<!--             <div class="field">
              <#%= label_tag :jne_type, Spree.t('jne_type') %>
              <#%= select_tag :jne_type, options_for_select(Spree::Jne::Shipping.jne_type) %>
            </div>
 -->          </div>
        </div>
        <div class="clear"></div>
        <div class="form-buttons actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button Spree.t(:submit), 'submit' %>
        </div>
    <% end %>
  </div>
  <div class="alpha eight column" data-hook="admin_product_reviews_sidebar">
    <%= form_tag admin_jne_shippings_path, multipart: true, method: :get do |f| %>
        <div data-hook="admin_product_reviews_index_search">
          <div class="alpha six columns">
            <div class="field">
              <label>City</label>
              <%= select_tag :ct, options_for_select(Spree::City.order(:name).map{|x| [x.name, x.id]}, selected: params[:ct]), class: 'select2' %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <br>
        <div class="form-buttons actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button Spree.t(:search), 'search' %>
        </div>
    <% end %>
  </div>
<% end %>

<%= paginate @jne_shippings %>

<% if @jne_shippings.any? %>
  <table class="index responsive" id="listing_jne_shippings" data-hook>
<!--     <colgroup>
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
    </colgroup> -->
    <thead>
      <tr data-hook="admin_jne_shippings_index_headers">
        <th rowspan="2"><%= Spree.t("cities") %></th>
        <th rowspan="2"><%= Spree.t('sub_districts') %></th>
        <th colspan="2">Reguler</th>
        <th colspan="2">Oke</th>
        <th colspan="2">YES</th>
        <th data-hook="admin_jne_shippings_index_header_actions" class="actions"></th>
      </tr>
      <tr data-hook="admin_jne_shippings_index_headers">
        <th>Tarif</th>
        <th>ETD</th>
        <th>Tarif</th>
        <th>ETD</th>
        <th>Tarif</th>
        <th>ETD</th>
        <th data-hook="admin_jne_shippings_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @jne_shippings.each do |page| %>
      <tr data-hook="admin_jne_shippings_index_rows" class="state-<%= page.id %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= page.city_name rescue ''%></td>
        <td class="align-center"><%= page.district_name rescue '' %></td>
        <td class="align-center"><%= Spree::Money.new(page.reg_price, { currency: Spree::Config[:currency] }) %></td>
        <td class="align-center"><%= page.reg_estimation %></td>
        <td class="align-center"><%= Spree::Money.new(page.oke_price, { currency: Spree::Config[:currency] }) %></td>
        <td class="align-center"><%= page.oke_estimation %></td>
        <td class="align-center"><%= Spree::Money.new(page.yes_price, { currency: Spree::Config[:currency] }) %></td>
        <td class="align-center"><%= page.yes_estimation %></td>
        <td class='actions align-center' data-hook="admin_jne_shippings_index_row_actions">
          <%= link_to_edit_url edit_admin_jne_shipping_path(page), :title => "admin_edit_#{dom_id(page)}", :no_text => true %>
          <%= link_to_delete page, url: admin_jne_shipping_path(page), :no_text => true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_jne_shipping_path %>!
  </div>
<% end %>

<%= paginate @jne_shippings %>