<% content_for :page_title do %>
  <%= Spree.t(:new_jne_shipping) %>
<% end %>

<!--<#%= render :partial => 'spree/shared/error_messages', :locals => { :target => @jne_shipping } %>-->

<%= form_for [:admin, @jne_shipping], :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <button class="fa fa-refresh button" name="button" type="submit">Save</button>
      <span class="or">or</span>
      <a class="button fa fa-remove" href="http://salihara.local:3000/admin/jne/shippings" icon="remove">Cancel</a>
    </div>
  </fieldset>
<% end %>
