<%- products = Spree::Product.best_seller %>
<%- if products.any? %>
<section class="blog_fix latest-news">
  <div class="container">
    <div class="row">
      <div class="new_title center">
        <h2><span><%= Spree.t('best_seller') %></span></h2>
      </div>
      <div class="col-xs-12 col-md-12 %>  wow bounceInLeft animated animated animated" style="visibility: visible;">
        <div id="slider-carousel-seller" class="carousel slide" data-ride="carousel">
          <%- if products.length > 5 %>
            <ol class="carousel-indicators">
              <%- lengths = products.length/4 + (products.length % 4 == 0 ? 0 : 1) - 1 %>
              <%- (0..lengths).each do |x| %>
                <li data-target="#slider-carousel-seller" data-slide-to="<%= x %>" class="<%= 'active' if x.zero? %>"></li>
              <% end %>
            </ol>
          <% end %>
          <div class="carousel-inner">
            <%- products.each_with_index do |product, i| %>
            <%- if i.zero? || i %4 == 0 %>
            <ul class="item <%= 'active' if i.zero? %>">
              <% end %>
              <%= render partial: "spree/shared/block_product", locals: {product: product} %>
              <%-if (i + 1) % 4 == 0 %>
            </ul>
            <% end %>
            <% end %>
          </div>
          <%- if products.length > 5 %>
          <a href="#slider-carousel-seller" class="pull-left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel-seller" class="pull-right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<% end %>
<!-- 
        <ul id="products-seller">
          <#%- products.each do |product| %>
          <#%= render partial: '/spree/shared/block_product', locals: {product: product} %>
          <#% reset_cycle("classes") %>
          <#% end %>
        </ul>
      -->      
