<% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
<li class="item col-md-3">
  <div class="col-item">
    <div class="item-img">
      <div class="item-img-info"> 
        <%= link_to url, title: product.name, class: 'product-image' do %>
          <%= product_image(product, :itemprop => "image") %>
        <% end %>
        <%- if product.is_new? %>
          <div class="new-label new-top-left">New</div>
        <% end %>
        <div class="item-box-hover">
          <div class="box-inner">
            <div class="product-detail-bnt">
              <%= link_to url, class: "quick-view button detail-bnt" do %>
                <span><%= Spree.t('view') %></span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info-inner">
        <div class="item-title"> 
          <%= link_to product.name, url %>
        </div>
        <div class="item-content">
          <div class="rating">
            <div class="ratings">
              <%- if product.show_rates? %>
                <%- (0..(product.rates.to_i - 1)).each do |x| %>
                  <i class="fa fa-star"></i>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="item-price">
            <div class="price-box">
              <span class="regular-price"> 
                <span class="price">
                  <%= show_price_discount_html(product) %>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
       <span class="add-to-links">
          <%= form_tag "/wished_products", class: "new_wished_product" do %>
            <%= hidden_field_tag "wished_product[variant_id]", product.master.id %>
            <%= link_to content_tag(:span, Spree.t('add_to_wishlist')), "javascript:void(0)", onclick: "$(this).parent().submit();", class: "link-wishlist" %>
          <% end %>
          <%= form_tag "/orders/populate" do %>
            <%= hidden_field_tag "variant_id", product.master.id %>
            <%= hidden_field_tag "quantity", 1 %>
            <%= link_to content_tag(:span, 'Add to cart'), "javascript:void(0)", onclick: "$(this).parent().submit();", class: "button btn-cart btn btn-default" %>
          <% end %>
      </span>
    </div>
  </div>
</div>
</li>
