<!-- <footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><#%= Spree.t :powered_by  %> <#%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
  </div>
  <div id="footer-right" class="columns omega eight" data-hook></div>
</footer>
-->

<footer class="footer bounceInUp animated">
  <!-- /Block Newsletter module-->
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 col-sm-4 col-lg-3">
          <div class="footer-logo">
            <%= logo %>
          </div>
          <div class="contacts-info">
            <address><i class="add-icon"></i><%= Spree::Config[:store_address] %></address>
            <div class="phone-footer">
              <i class="phone-icon"></i><span><%= Spree::Config[:merchant_phone] %></span>
            </div>
            <div class="email-footer">
              <i class="email-icon"></i>
              <span>
                <a href="mailto:<%= Spree::Config[:merchant_email] %>">
                  <%= Spree::Config[:merchant_email] %>
                </a>
              </span>
            </div>
          </div>
        </div>
        <!-- /MODULE Block contact infos -->
        <!-- Block myaccount module -->
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">
          <div class="footer-column">
            <h4>Information</h4>
            <ul class="links">
              <%- Spree::Page.last(10).each do |page| %>
              <li class="first">
                <%= link_to page.title, "/pages/#{page.slug}" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">
          <div class="footer-column">
            <h4>Our Product</h4>
            <ul class="links">
              <%- @groups.each do |page| %>
              <li class="first">
                <%= link_to page.root.name, "/t/#{page.root.permalink}" %>
              </li>
              <% end if @groups %>
            </ul>
          </div>
        </div>

        <%= render "spree/shared/social_link" %>
          <!-- Block payment logo module -->
<!--           <div class="payment-accept">
            <h4>We Accept</h4>
            <div>
              <img src="http://psastra.magikcommerce.com/themes/astra/img/astra-payment-1.png" alt="visa" width="59" height="39">
              <img src="http://psastra.magikcommerce.com/themes/astra/img/astra-payment-2.png" alt="mastercard" width="58" height="39">
              <img src="http://psastra.magikcommerce.com/themes/astra/img/astra-payment-3.png" alt="paypal" width="59" height="39">
              <img src="http://psastra.magikcommerce.com/themes/astra/img/astra-payment-4.png" alt="paypal" width="59" height="39">
            </div>
          </div>
        -->
      </div><!-- col-md-3 col-sm-4 -->

    </div><!-- row -->
  </div><!-- container -->
</div><!-- footer-middle -->


<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 coppyright">
       Copyright &copy; <%= link_to Spree::Config[:store_name], Spree::Config[:site_url] %>
     </div>
   </div>
 </div>  
</div>
</footer>