<!--  <header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook><%= logo %></figure>
  <#%= render :partial => 'spree/shared/nav_bar' %>
  <#%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>
-->
<header class="header-container">
  <div class="header-top">
    <div class="container">
      <div class="">
        <div class="toplinks">
          <div class="links">
            <%= render partial: 'spree/shared/main_nav_bar' %>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="header container">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-md-2">
        <%= link_to image_tag(Spree::Config[:logo]), spree.root_path, class: 'logo' %>
      </div>
      <div class="col-lg-8 col-sm-6 col-md-8"> 
        <div id="os-phrases" class="os-phrases">
        </div>
      </div>
      <div class="col-lg-4 pull-right">
        <div class="top-cart-contain pull-right">
          <div class="mini-cart">
            <div class="basket"> 
              <%= link_to_cart %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Container row -->
</header>
<%= render 'spree/shared/menu' %>