<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(Spree::Config.site_url) %>
<%= favicon_link_tag image_path('favicon.ico') %>
<%= stylesheet_link_tag 'spree/frontend/all', :media => 'screen' %>
<%= stylesheet_link_tag '/assets/templates/andromeda/application', :media => 'screen' %>
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag '/assets/templates/andromeda/bootstrap.min' %>
<%= javascript_include_tag '/assets/templates/andromeda/eislideshow' %>
<%= javascript_include_tag '/assets/templates/andromeda/homeslider' %>
<%= javascript_include_tag '/assets/templates/andromeda/global' %>
<%= javascript_include_tag '/assets/templates/andromeda/flexsliders' %>
<%= javascript_include_tag '/assets/templates/andromeda/fancybox' %>
<%= javascript_include_tag '/assets/templates/andromeda/jquery.raty' %>

<!-- <#%= javascript_include_tag '/assets/templates/andromeda/application' %> -->

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<![endif]-->
<%= render "spree/shared/routes" %>
<%= render "spree/shared/frontend_routes" %>
<%= yield :head %>
