<%- products = Spree::PromoBanner.where(type_banner: 'box2').order("id DESC").last(4) %>
<%- if products.any? %>
<div class="offer-banner-section bounceInUp animated">
  <div class="container">
    <div class="row">
    <%- products.each do |product| %>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="col">
        <%= link_to product.get_url do %>
          <%= image_tag(product.promo_banner_image.attachment.url) %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>