<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>

<% content_for :head do %>
<% if paginated_products.respond_to?(:num_pages) %>
<%= rel_next_prev_link_tags paginated_products %>
<% end %>
<% end %>

<% if products.empty? %>
<%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
<h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>


<div class="clearfix"></div>
<section class="">
  <div class="">
    <div class="row">
      <div class="pro-recommend remove-border col-xs-12 col-md-12 <%= 'taxons' if content_for?(:sidebar) && !controller_name.eql?('home') %>  wow bounceInLeft animated animated animated" style="visibility: visible;">
        <ul id="products">
          <%- products.each do |product| %>
            <%= render partial: '/spree/shared/block_product', locals: {product: product} %>
            <% reset_cycle("classes") %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<% if paginated_products.respond_to?(:num_pages) %>
  <%= paginate paginated_products, theme: "frontend" %>
<% end %>