<%- products = Spree::PromoBanner.where(type_banner: 'box1').order("id DESC").last(2) %>
<%- if products.any? %>
<div class="promo-banner-section container wow bounceInDown animated animated animated" style="visibility: visible;">
  <div class="row">
    <%- products.each do |product| %>
      <div class="col-sm-6 col-xs-12">
        <%= link_to product.get_url do %>
          <%= image_tag(product.promo_banner_image.attachment.url(:large)) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>