<%- if @related_products && @related_products.any? %>
<div class="middle-slider container">
  <div class="row">
    <div class="col-md-12">
      <div class="wow bounceInRight animated animated animated" style="visibility: visible;">
        <div class="slider-items-products">
          <div class="new_title center">
            <h2><%= Spree.t('related_products') %></h2>
          </div>
          <div id="bag-slider" class="product-flexslider hidden-buttons">
            <div class="" style="display: block; opacity: 1;"> 

              <div id="slider-carousel-related" class="carousel slide" data-ride="carousel">
                <%- if @related_products.length > 5 %>
                <ol class="carousel-indicators">
                  <%- lengths = @related_products.length/4 + (@related_products.length % 4 == 0 ? 0 : 1) - 1 %>
                  <%- (0..lengths).each do |x| %>
                    <li data-target="#slider-carousel-seller" data-slide-to="<%= x %>" class="<%= 'active' if x.zero? %>"></li>
                  <% end %>
                </ol>
                <% end %>

                <div class="carousel-inner">
                  <%- @related_products.each_with_index do |product, i| %>
                    <%- if i.zero? || i %4 == 0 %>
                      <ul class="item <%= 'active' if i.zero? %>">
                    <% end %>
                    <%= render partial: "spree/shared/block_product", locals: {product: product} %>
                    <%-if (i + 1) % 4 == 0 %>
                      </ul>
                    <% end %>
                  <% end %>
                </div>
                <%- if @related_products.length > 5 %>
                <a href="#slider-carousel-related" class="pull-left control-carousel hidden-xs" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a href="#slider-carousel-related" class="pull-right control-carousel hidden-xs" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </a>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
