<div class="review">
   <div class="clearfix">
      <div class="col-md-12">
         <h5 class="pull-left">REVIEW</h5>
         <a data-toggle="modal" data-target="#CreateReview" class="btn btn-default btn-sm pull-right"><i class="fa fa-pencil"></i> TULIS REVIEW</a>
         <div class="clear"></div>
         <div class="media">
            <a class="pull-left" href="#">
               <img class="media-object" src="img/ava.jpg">
            </a>
            <div class="media-body">
               <a href="">Letisha Saqinah</a> 
               <ul class="list-inline list-unstyled pull-right">
                  <li><span> 12 January 2014 20:21 </span></li>
                  <li>|</li>
                  <li>
                     <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  </li>
               </ul>
               <div class="clear"></div>
               <h2 class="media-heading"> Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</h2>
               <p>" Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
               </p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue."
               </p>
            </div>
         </div>
         <div class="media">
            <a class="pull-left" href="#">
               <img class="media-object" src="img/ava.jpg">
            </a>
            <div class="media-body">
               <a href="">Letisha Saqinah</a>
               <ul class="list-inline list-unstyled pull-right">
                  <li><span> 12 January 2014 20:21 </span></li>
                  <li>|</li>
                  <li>
                     <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  </li>
               </ul>
               <div class="clear"></div>
               <h2 class="media-heading"> Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</h2>
               <p>" Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
               </p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue."
               </p>
            </div>
         </div>
         <div class="media">
            <a class="pull-left" href="#">
               <img class="media-object" src="img/ava.jpg">
            </a>
            <div class="media-body">
               <a href="">Letisha Saqinah</a>
               <ul class="list-inline list-unstyled pull-right">
                  <li><span> 12 January 2014 20:21 </span></li>
                  <li>|</li>
                  <li>
                     <span class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                  </li>
               </ul>
               <div class="clear"></div>
               <h2 class="media-heading"> Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.</h2>
               <p>" Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue.
               </p>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
                  Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
                  dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
                  Aliquam in felis sit amet augue."
               </p>
            </div>
         </div>
      </div>
   </div>
   <br>
   <div class="row clearfix">
      <div class="col-md-4">
         <span class="number-product align-left">
            <a href=""><i class="fa fa-long-arrow-left"></i> Sebelumnya</a>
         </span>
      </div>
      <div class="col-md-4 text-center">
         <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
         </ul>
      </div>
      <div class="col-md-4">
         <span class="number-product  align-right">
            <a href=""> Selanjutnya <i class="fa fa-long-arrow-right"></i></a>
         </span>
      </div>
   </div>
</div>