<% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
<%= form_tag spree.products_path, :method => :get, id: "searchbox" do %>
  <%= search_field_tag :keywords, params[:keywords], id: "search", :placeholder => Spree.t(:search) %>
  <%= button_tag type: 'submit', class: 'btn btn-default search-btn-bg', :name => nil do %>
    <span class="glyphicon glyphicon-search"></span>
  <% end %>
<% end %>