<%- sliders = Spree::Slider.last(10) %>
<%- if sliders.any? %>
<div id="magik-slideshow" class="magik-slideshow">
  <div id="slider-elastic" class="slider slider-elastic elastic ei-slider">
    <ul class="ei-slider-large">
      <%- sliders.each do |slider| %>
        <li class="first slide-1 slide align-"  style="left: 0px; z-index: 1; opacity: 0;">
        <%= image_tag(slider.slider_image.attachment.url(:slider), width: '1920', height: '500') %>
        <div class="ei-title">
          <%= raw(slider.description) %>
          <%- if slider.have_url? %>
            <%= link_to "Click here!", slider.get_url, class: "shop-btn center" %>
          <% end %>
        </div>
        </li>
      <% end %>
    </ul>
    <ul class="ei-slider-thumbs" style="display: block; max-width: 750px;">
      <li class="ei-slider-element" style="max-width: 150px; width: 20%; left: 600px;"> Current </li>
      <%- sliders.each do |slider| %>
        <%= content_tag :li, link_to(image_tag(slider.slider_image.attachment.url(:small))) %>  
      <% end %>
    </ul>
    <div class="shadow"></div>
  </div>
</div>
<% end %>