<%- socials = Spree::Social.all %>
<%- if socials && socials.any? %>
<div class="col-xs-12 col-md-3 col-sm-12 col-md-2 col-lg-3">
  <div class="social">
    <h4>Follow Us</h4>
    <ul>
      <%- socials.each do |social| %>
      <li class="social-btn <%= social.provider.to_s %>-me">
        <%= link_to social.url, target: '_blank', title: social.provider.humanize do %>
        <i class="fa fa-<%= social.provider.to_s.gsub("_", "-")%>"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div><!-- social -->
<% end %>