   <%= form_for @product_review, url: product_reviews_path, method: :post,remote: true, html: {id: 'form-review'} do |f| %>
       <div class="form-group">
     <%= f.label :name, Spree.t('name') %>
     <%= f.text_field :name, class: "form-control" %>
     <%= f.hidden_field :rating, class: "form-control", value: 1 %>
     <%= f.hidden_field :product_id, class: "form-control" %>
   </div>
   <div class="form-group">
     <label><%= Spree.t('rating') %></label>
     <div class="text-left">
      <div class="stars starrr" data-score="1">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label><%= Spree.t('subject') %></label>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Review</label>
    <%= f.text_area :review, row: 50, class: "form-control" %>
  </div>
  <% end %>
  <script>
  $(document).ready(function(){
    $("#save-review").off().on('click', function(){$('#form-review').submit();})
    $(".starrr").raty({
      score: 1,
      starHalf     : '/assets/templates/andromeda/star-half.png',
      starOff      : '/assets/templates/andromeda/star-off.png',
      starOn       : '/assets/templates/andromeda/star-on.png',
      click: function(score, evt){
        $("#product_review_rating").val(score);
      }
    });
    })
  </script>
