<div class"box-qrcode">
  <a class="fancybox" href='<%= @product.qrcode_url(200) %>' data-fancybox-group="gallery">
    <%= image_tag @product.qrcode_url, class: "small-qrcode image-responsive" %>
  </a>
</div>