<%- reviews = @product.reviews.published.order("created_at DESC").page(params[:page]).per(10) %>
<div class="review clearfix">
 <div class="clearfix">
  <div class="col-md-12">
   <h5 class="pull-left">REVIEW</h5>
   <%- if spree_current_user %>
   <a id="show-review-modal" class="btn btn-default btn-sm pull-right" href="javascript:">
     <i class="fa fa-pencil"></i> TULIS REVIEW
   </a>
   <% end %>
   <div class="clearfix"></div>
   <%- if reviews.any? %>
   <%-reviews.each do |review| %>
   <div class="media">
     <div class="media-body">
      <a href=""><%= review.name %></a> 
      <ul class="list-inline list-unstyled pull-right">
       <li><span><%= review.created_at.id_format_text %></span></li>
       <li>|</li>
       <li>
        <span class="rating">
         <%- review.rating.times do |x| %>
         <i class="fa fa-star"></i>
         <% end %>
       </span>
     </li>
   </ul>
   <div class="clearfix"></div>
   <h2 class="media-heading"><%= review.subject %></h2>
   <p><%= review.review %></p>
 </div>
</div>
<% end %>
<% else %>
<small style="text-align: center;"><%= Spree.t('not_found_reviews') %></small>
<%end%>
</div>
</div>
<%= paginate reviews, theme: 'frontend' %>
</div>
<%- if spree_current_user %>
<%- @product_review = Spree::ProductReview.new(product_id: @product.id) %>
<div class="modal fade in" id="CreateReview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">TULIS REVIEW</h4>
  </div>
  <div class="modal-body" id='body-form'>
    <%= render 'spree/shared/form_review' %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default grey" data-dismiss="modal">BATAL</button>
  <%= button_tag "Simpan", type: "button", class: "btn btn-default", id: "save-review", data: {disabled_with: "Submit.."} %>
</div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
    $("#show-review-modal").off().on('click', function(){
      $("#CreateReview").modal('show');      
    })
    $('#CreateReview').off().on('hidden.bs.modal', function () {
      $("#body-form").find("input, text_area").val('');
      $(".alert-success").remove();
      $(".form-group").show();
      $("#save-review").show();
    });
  });
</script>
<% end %>