<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>
</head>
<body class="index <%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
  <%= render :partial => 'spree/shared/header' %>
  <%- if Spree::Config[:slider] && controller_name.eql?('home') %>
  <%= render "spree/shared/slider" %>
  <div class="clearfix"></div>
  <% end %>
  <div class="clearfix"></div>
  <div class="breadcrumb clearfix">
    <%= breadcrumbs(@taxon) %>
  </div>
  <div id="wrapper" class="container" data-hook>
    <%= render "spree/shared/promo_banner_one" %>


    <!-- <#%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %> -->

    <div id="content" class="" data-hook>
      <%= flash_messages %>
      <%= render :partial => 'spree/shared/sidebar' if content_for?(:sidebar) && !controller_name.eql?('home') %>
      <div class="<%= content_for?(:sidebar) && !controller_name.eql?('home') ? 'col-md-9' : 'col-md-12' %>">
        <%= yield %>
      </div>
    </div>
    <%= yield :templates %>
    <div class="clearfix"></div>
    <%= render "spree/shared/related_products" %>
  </div>
  <%= render :partial => "spree/shared/best_seller" %>
  <div class="container">
    <%= render "spree/shared/promo_banner_offer" %>
  </div>
  <%= render :partial => 'spree/shared/footer' %>
  <%= render :partial => 'spree/shared/google_analytics' %>
  <script>
  Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
  </script>
  <%- if Spree::Config[:slider] && controller_name.eql?('home') %>
  <script type="text/javascript">
  jQuery(document).ready(function($){
    jQuery('#slider-elastic.elastic').eislideshow({
      easing      : 'easeOutExpo',
      titleeasing : 'easeOutExpo',
      titlespeed  : 1200,
      autoplay    : true,
      slideshow_interval : 3000,
      speed       : 800,
      animation   : 'sides'
    });
  });
  </script>
  <% end %>
</body>
</html>
