<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    -%>
    <div class="col-md-4">
      <% unless current_page.last? %>
      <ul class="pagination"><li>
       <span class="number-product  align-right">
        <!-- <#%= link_to t('views.pagination.next').html_safe, url, :rel => 'next', :remote => remote %> -->
        <%= link_to url, :rel => 'next', :remote => remote do %>
        <i class="fa fa-long-arrow-right"></i>
        <% end %>
      </span></li></ul>
      <% end %>
    </div>