<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class="row clearfix">
   <%#= first_page_tag unless current_page.first? %>
    <%= prev_page_tag %>
    <div class="col-md-4 text-center">
       <ul class="pagination">
          <% each_page do |page| -%>
              <%= page_tag page %>
          <% end -%>
       </ul>
    </div>
    <%= next_page_tag %>
    <%#= last_page_tag unless current_page.last? %>
  </div>
<% end -%>
