<%# Link to the "Previous" page
  - available local variables
    url:           url to the previous page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    -%>
    <div class="col-md-4">
     <% unless current_page.first? %>
     <ul class="pagination pull-right"><li>
      <span class="number-product align-left">
        <!-- <#%= link_to t('views.pagination.previous').html_safe, url, :rel => 'prev', :remote => remote %> -->
        <%= link_to url, :rel => 'prev', :remote => remote do %>
        <i class="fa fa-long-arrow-left"></i>
        <% end %>
      </span>
    </li></ul>
    <% end %>
  </div>