<% content_for :donation_title do %>
  <%= Spree.t(:listing_donations) %>
<% end %>

<!-- <#% content_for :table_filter_title do %> -->
  <!-- <#%= Spree.t(:search) %> -->
<!-- <#% end %> -->

<%= paginate @donations %>

<% if @donations.any? %>
  <table class="index responsive" id="listing_donations" data-hook>
    <colgroup>
    </colgroup>
    <thead>
      <tr data-hook="admin_donations_index_headers">
        <th>Date</th>
        <th>In Order</th>
        <th>User</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Amount</th>
        <th>Payment Method</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    <% @donations.each do |donation| %>
      <tr data-hook="admin_donations_index_rows" class="state-<%= donation.id %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= donation.created_at.strftime("%d/%m/%Y at %H:%M") %></td>
        <td class="align-center"><%= donation.order.number if donation.order %></td>
        <td class="align-center"><%= donation.user ? donation.user.name : donation.name %></td>
        <td class="align-center"><%= donation.user ? donation.user.email : donation.email %></td>
        <td class="align-center"><%= donation.user ? donation.user.phone_number : donation.phone_number %></td>
        <td class="align-center"><%= number_to_currency(donation.total, unit: "Rp") %></td>
        <td class="align-center"><%= donation.order ? donation.order.payments.valid.first.payment_method.class.to_s : donation.payment_method.class.to_s %></td>
        <td class="align-center"><%= donation.order ? donation.order.payment_state : donation.status %></td>
      </tr>
    <% end %>
    </tbody>
    <tbody>
      <tr>
        <td colspan="5" style="text-align: right;">
          Total in page
        </td>
        <td colspan="2">
         <%= number_to_currency(@sub_total, unit: "Rp") %>
        </td>
      </tr>
      <tr>
        <td colspan="5" style="text-align: right;">
          Total
        </td>
        <td colspan="2">
         <%= number_to_currency(@total_donation, unit: "Rp") %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: "Donation") %>,
  </div>
<% end %>
<%= paginate @donations %>