<div data-hook="admin_product_form_fields">  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :provider do %>
      <%= f.label :provider, raw(Spree.t(:provider) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.select :provider, Spree::Social.providers, {}, :class => 'fullwidth title select2' %>
      <%= f.error_message_on :provider %>
    <% end %>
    <%= f.field_container :url do %>
      <%= f.label :url, Spree.t(:url) %>
      <%= f.text_field :url, :class => 'fullwidth title', placeholder: "http://facebook.com/thekios" %>
      <%= f.error_message_on :url %>
    <% end %>
  </div>
</div>