<% content_for :page_title do %>
  <%= Spree.t(:listing_socials) %>
<% end %>
<% content_for :page_actions do %>
  <li id="new_social_link">
    <%= button_link_to Spree.t(:new_social), new_object_url, { :icon => 'plus', :id => 'admin_new_social' } %>
  </li>
<% end if can?(:create, Spree::Social) %>
<%= paginate @collection %>
<% if @collection.any? %>
  <table class="index" id="listing_socials">
<!--     <colgroup>
       <col style="width: 15%;">
       <col style="width: 10%;">
       <col style="width: 20%;">
       <col style="width: 65%;">
    </colgroup>
 -->  <thead>
      <tr data-hook="admin_socials_index_headers">
        <th>Title</th>
        <th>Image</th>
        <th data-hook="admin_socials_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |social| %>
          <tr style="" id="<%= spree_dom_id social %>" data-hook="admin_socials_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= social.provider %></td>
            <td><%= social.url %></td>
            <td class="actions" data-hook="admin_socials_index_row_actions">
              <%= link_to_edit social, :no_text => true, :class => 'edit' if can?(:edit, social) %>
              <%= link_to_delete social, :no_text => true if can?(:delete, social) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/social')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_social_path %>!
  </div>
<% end %>
<%= paginate @collection %>
