<% content_for :page_title do %>
  <%= Spree.t(:new_social) %>
<% end %>
<%= form_for [:admin, @object], :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>