<div data-hook="admin_product_form_fields">  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :title do %>
      <%= f.label :title, raw(Spree.t(:title) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>
    <%= f.fields_for :slider_image do |c| %>
      <%= image_tag(c.object.attachment.url(:small)) if c.object.attachment.present? %>
      <%= c.label :attachment, Spree.t(:image) %>
      <%= c.file_field :attachment %>
    <% end %>
    <%= f.field_container :link do %>
      <%= f.label :link, Spree.t(:url) %>
      <%= f.text_field :link, :class => 'fullwidth title' %>
      <%= f.error_message_on :link %>
    <% end %>    
    <%= f.field_container :product_id do %>
      <%= f.label :product_id, Spree.t('product') %>
      <%= f.select :product_id, Spree::Product.all.map{|x| [x.name, x.id]}, {selected: f.object.product_id, include_blank: Spree.t('choose_a_product')}, :class => 'fullwidth title select2' %>
      <small>*Pilih product akan memberikan link ke detail product pada slider</small>
      <%= f.error_message_on :product_id %>
    <% end %>
    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t('description') %>
      <%= f.text_area :description, :class => 'fullwidth title' %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>
</div>