<% content_for :page_title do %>
  <%= Spree.t(:listing_sliders) %>
<% end %>
<% content_for :page_actions do %>
  <li id="new_slider_link">
    <%= button_link_to Spree.t(:new_slider), new_object_url, { :icon => 'plus', :id => 'admin_new_slider' } %>
  </li>
<% end if can?(:create, Spree::Slider) %>
<%= paginate @collection %>
<% if @collection.any? %>
  <table class="index" id="listing_sliders">
<!--     <colgroup>
       <col style="width: 15%;">
       <col style="width: 10%;">
       <col style="width: 20%;">
       <col style="width: 65%;">
    </colgroup>
 -->  <thead>
      <tr data-hook="admin_sliders_index_headers">
        <th>Title</th>
        <th>Image</th>
        <th data-hook="admin_sliders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |slider| %>
          <tr style="" id="<%= spree_dom_id slider %>" data-hook="admin_sliders_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= slider.title %></td>
            <td><%= image_tag(slider.slider_image.attachment.url(:small)) rescue '' %></td>
            <td class="actions" data-hook="admin_sliders_index_row_actions">
              <%= link_to_edit slider, :no_text => true, :class => 'edit' if can?(:edit, slider) %>
              <%= link_to_delete slider, :no_text => true if can?(:delete, slider) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/slider')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_slider_path %>!
  </div>
<% end %>
<%= paginate @collection %>
