<% if params[:keywords] %>
  <div data-hook="search_results">
    <% if @products.empty? %>
      <h2 class="search-results-title"><%= Spree.t(:no_products_found) %></h2>
    <% else %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% else %>
  <div data-hook="homepage_products">
    <% cache(cache_key_for_products) do %>
      <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
    <% end %>
  </div>
<% end %>
