<% cache [current_currency, @product] do %>
<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

  <div class="col-md-5 wow bounceInRight animated" data-hook="product_left_part">
    <div class="row" data-hook="product_left_part_wrap">

      <div id="product-images" data-hook="product_images">
        <section class="slider">
          <p class="pull-right info-zoom"><%= Spree.t('click_zoom') %> <i class="fa fa-search"></i></p>
          <div class="clearfix"></div>
          <div id="slider" class="flexslider">
           <ul class="slides">
             <% if @product.images.present? %>
             <% @product.images.each do |image| %>
             <li>
               <a class="fancybox" href="<%= image.attachment.url(:large) %>" data-fancybox-group="gallery">
                <%= image_tag image.attachment.url(:large), :itemprop => "image", class: "img-responsive" %>
              </a>
            </li>
            <% end %>
            <% end %>
          </ul>
        </div>
        <div id="carousel" class="flexslider">
         <ul class="slides">
           <% if @product.images.present? %>
           <% @product.images.each do |image| %>
           <li>
            <%= image_tag image.attachment.url(:small), :itemprop => "image" %>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </section>

  </div>

  <div data-hook="product_properties">
    <%= render :partial => 'properties' %>
  </div>

  <div data-hook="promotions">
    <%= render :partial => 'promotions' %>
  </div>

</div>
</div>

<div class="col-md-7 wow bounceInLeft animated animated animated animated" data-hook="product_right_part">
  <div class="row" data-hook="product_right_part_wrap">

    <div id="product-description" data-hook="product_description">

      <h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
      <div class="rating pull-right">
      <%- (0..(@product.rates.to_i - 1)).each do |x| %>
        <i class="fa fa-star"></i>
      <% end %>
        <%= @product.review_text_count %>
      </div>
      <div itemprop="description" data-hook="description">
        <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
      </div>
      <div class="share">
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "a2461d4d-cd0a-4b38-862f-1bb8c39605ac", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_email_large' displayText='Email'></span>
      </div>
      <div id="cart-form" data-hook="cart_form_custom">
        <%= render :partial => 'cart_form' %>
      </div>

    </div>

    <%= render :partial => 'taxons' %>

  </div>
</div>

</div>
<% end %>
<script>
$(".popHover").popover({ trigger: "hover" });
$(window).load(function(){
  $('#carousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 98,
    itemMargin: 5,
    asNavFor: '#slider'
  });

  $('#slider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#carousel"
  });
});

$('.fancybox').fancybox();
</script>