<div id="new_state" data-hook></div>

<table class="index" id='listing_states' data-hook>
  <colgroup>
    <col style="width: 70%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="states_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:name_code) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr id="<%= spree_dom_id city %>" data-hook="states_row" class="<%= cycle('odd', 'even')%>">
        <td><%= city.name %></td>
        <td class="align-center"><%= city.code_name %></td>
        <td class="actions">
          <%= link_to_with_icon 'edit', Spree.t(:edit), edit_admin_state_city_url(@state, city), :no_text => true %>
          <%= link_to_delete city, url: admin_state_city_path(@state, city), :no_text => true %>
        </td>
      </tr>
    <% end %>
    <% if @cities.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
