<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:cities) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_state_link">
    <%= button_link_to Spree.t(:new_city), new_admin_state_city_url(@state), { :remote => true, :icon => 'plus', :id => 'new_state_link' } %>
  </li>
<% end %>

<div data-hook="country" class="field row">
  <%= label_tag :state, Spree.t(:state) %>
  <select id="state" class='observe_field select2 fullwidth' data-base-url="<%=admin_cities_path(:format => :js) %>?state_id=" data-update="#city-list">
  <%= options_from_collection_for_select(@states, :id, :name, @state.id) %>
  </select>
</div>

<%= image_tag 'select2-spinner.gif', :plugin => 'spree', :style => 'display:none;', :id => 'busy_indicator' %>

<div id="city-list" data-hook>
  <%= render :partial => 'city_list'%>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    'use strict';
    $('#state').on('change', function () {
      var new_state_link_href = $('#new_state_link a').prop('href');
      var selected_country_id = $('#state option:selected').prop('value');
      var new_link = new_state_link_href.replace(/states\/(\d+)/,
        'states/' + selected_country_id);
      $('#new_state_link a').attr('href', new_link);
    });
  });
</script>