<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @city } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_city) %>
<% end %>

<%= form_for [:admin, @state, @city] do |f| %>
  <fieldset>
    <legend><%= Spree.t(:new_state) %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'ok' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_state_cities_path(@state), :class => 'button' %>
    </div>
  </fieldset>
<% end %>
