<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree.t(:klikpay) %></legend>
  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= Spree.t(:transaction_no) %>:</dt>
        <dd><%= payment.source.transaction_no %></dd>

        <dt><%= Spree.t(:transaction_id) %>:</dt>
        <dd><%= payment.source.transaction_id %></dd>

        <dt><%= Spree.t(:card_number) %>:</dt>
        <dd><%= payment.source.card_no %></dd>

        <dt><%= Spree.t(:acquirer_code) %>:</dt>
        <dd><%= payment.source.acquirer_code %></dd>

        <dt><%= Spree.t(:acquirer_merchant_account) %>:</dt>
        <dd><%= payment.source.acquirer_merchant_account %></dd>

        <dt><%= Spree.t(:acquirer_response_code) %>:</dt>
        <dd><%= payment.source.acquirer_response_code %></dd>

        <dt><%= Spree.t(:acquirer_approval_code) %>:</dt>
        <dd><%= payment.source.acquirer_approval_code %></dd>

        <dt>Status</dt>
        <dd><%= payment.source.status %></dd>
      </dl>
    </div>
  </div>
</fieldset>