<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree.t(:klikpay) %></legend>
  <div class="row">
    <div class="alpha ten columns">
      <dl>
        <dt><%= Spree.t(:transaction_no) %>:</dt>
        <dd><%= payment.source.transaction_no %></dd>

        <dt><%= Spree.t(:response) %>:</dt>
        <dd>
          <%- if payment.source.response.is_a?(Hash) %>
            <%- payment.source.response.delete_if{|x, v| ['action', 'controller'].include?(x)}.each do |key, val| %>
              <strong><%= key %></strong>: <%= val %><br/>
            <% end %>
          <% else %>
            <%= payment.source.response %>
          <% end %>
        </dd>
        <dt><%= Spree.t(:state) %>:</dt>
        <dd>
          <%- if payment.source.response_message.is_a?(Hash) %>
            <%- payment.source.response_message.each do |key, val| %>
              <strong><%= key %></strong>: <%= val %><br/>
            <% end %>
          <% else %>
            <%= payment.source.response_message %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>
</fieldset>