/*
*= require_self
*= require_tree . 
*/

.carousel-inner>.item{
  height: 400px;
}

.carousel-inner>.item>img{
  position: absolute;
}
#slider-carousel>.carousel-inner>.item.active>div{
  z-index: 1;
}
.control-carousel{z-index: 2;}
#slider-carousel>.carousel-inner>.item{padding-left: 0px;}

.ratings i, .rating i{color: yellow;}

.promo-banner{
  padding: 10px;
  float: left;
}

.features_items{float: left;}
.product-image-wrapper{max-height: 418px;}

table thead tr th{background: #FE980F; color: #fff; text-align: center;}

.links{text-align: right;}
.line_item_quantity{width: 50px;}
.no-margin-bottom{margin-bottom: 0px !important;}

h4 a{color:#FE980F; }
.progress-steps{
  list-style-type: none;
  background: transparent;
  padding-left: 0;
}

.progress-steps>li {
display: inline-block;
margin-left: 5px;
}

.progress-steps li a, .current-first, .current{background: #FE980F;
color: #FFFFFF;
padding: 3px 7px;}

.current-first:after {
content: "";
height: auto;
width: auto;
border-width: 8px;
border-style: solid;
border-color: transparent transparent transparent #FE980F;
position: absolute;
top: 5px;
left: 77px;
}

.footer-widget{margin-bottom: 0px !important}
.footer-widget a{color: #444; font-weight: bold;}
.footer-widget .container{padding-bottom: 15px;}
.footer-widget .container div{text-align: center;}
.footer-widget .container .row div{opacity: 0;}
.footer-widget .container:hover .row div{opacity: 1;}


/*.footer-widget>.container>.row{display: none;}
.footer-widget>.container:hover>.row{display: block;}*/