<fieldset id="order_summary" data-hook>
  <%- if @donation.status.eql?('open') %>
  <form action="<%= @content.transaction_url rescue '' %>" target="my-iframe" method="post" id="form-authorization">
    <input type="hidden" name="siteID" id="site-id" value="salihara">
    <input type="hidden" name="serviceVersion" id="site-id" value="1.0">
    <input type="hidden" name="merchantTransactionID" id="merchant-transaction-id" value="<%= @donation.identifier %>">
    <input type="hidden" name="transactionType" id="transaction-type" value="SALE">
    <input type="hidden" name="merchantTransactionNote" id="transaction-note" value="<%= Spree.t('donation') %> from <%= @donation.name || 'Anonym' %>">
    <input type="hidden" name="currency" id="currency" value="<%= Spree::Config[:currency] %>">
    <input type="hidden" name="amount" id="amount" value="<%= @donation.total %>">
    <input type="submit" value="<%= Spree.t('process') %>" class="btn btn-default"/>
  </form>
  <div id="loadImg"><div><img src="/assets/loading.gif" /></div></div>
  <iframe name="my-iframe" src="" style="border:none; width: 100%; height: 500px;" id="iframe-payment" noresize frameborder="0" onload="document.getElementById('loadImg').style.display='none';">
  </iframe>
  <% end %>
</fieldset>
<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function(){
    $("#form-authorization input[type=submit]").click(function(){
      $('#iframe-payment, #loadImg').show();
      $("#loadImg div").css('width', $('#iframe-payment').width());
    });
    $("#iframe-payment").on('load', function(){
      $("#loadImg").hide();
      $("#form-authorization input[type=submit]").hide();
    })
  })
</script>
<% end %>
<style>
#loadImg{position:absolute;z-index:999;}
#loadImg div{display:table-cell;width:900px;height:500px;background:#f0f0f0;text-align:center;vertical-align:middle; opacity: 0.5;}
</style>