<fieldset id="order_summary" data-hook>
  <%- unless @order.completed? %>
  <form action="<%= @content.transaction_url rescue '' %>" target="my-iframe" method="post" id="form-authorization">
    <input type="hidden" name="siteID" id="site-id" value="salihara">
    <input type="hidden" name="serviceVersion" id="site-id" value="1.0">
    <input type="hidden" name="merchantTransactionID" id="merchant-transaction-id" value="<%= @content.transaction_no %>">
    <input type="hidden" name="transactionType" id="transaction-type" value="SALE">
    <input type="hidden" name="merchantTransactionNote" id="transaction-note" value="<%= Spree.t('payment') %> <%= @order.number %>">
    <input type="hidden" name="currency" id="currency" value="<%= Spree::Config[:currency] %>">
    <input type="hidden" name="amount" id="amount" value="<%= @order.total %>">

    <input type="hidden" name="billingName" value="<%= [@order.billing_address.try(:first_name), @order.billing_address.try(:last_name)].delete_if{|x| x.nil?}.join(' ') %>">
    <input type="hidden" name="billingAddress" value="<%= @order.billing_address.try(:address1) %>">
    <input type="hidden" name="billingCity"  value="<%= @order.billing_address.try(:city) %>">
    <input type="hidden" name="billingState"  value="<%= @order.billing_address.try(:state).try(:name) %>">
    <input type="hidden" name="billingCountry"  value="<%= @order.billing_address.try(:country).try(:iso) %>">
    <input type="hidden" name="billingPhone"  value="<%= @order.billing_address.try(:phone) %>">
    <input type="hidden" name="billingPostalCode"  value="<%= @order.billing_address.try(:zipcode) %>">
    <input type="hidden" name="billingEmail" value="<%= @order.try(:user).try(:email) %>">

    <input type="hidden" name="deliveryName" value="<%= [@order.shipping_address.try(:first_name), @order.shipping_address.try(:last_name)].delete_if{|x| x.nil?}.join('') %>">
    <input type="hidden" name="deliveryAddress" value="<%= @order.shipping_address.try(:address1) %>">
    <input type="hidden" name="deliveryCity"  value="<%= @order.shipping_address.try(:city) %>">
    <input type="hidden" name="deliveryState"  value="<%= @order.shipping_address.try(:state).try(:name) %>">
    <input type="hidden" name="deliveryCountry"  value="<%= @order.shipping_address.try(:country).try(:iso) %>">
    <input type="hidden" name="deliveryPhone"  value="<%= @order.shipping_address.try(:phone) %>">
    <input type="hidden" name="deliveryPostalCode"  value="<%= @order.shipping_address.try(:zipcode) %>">
    <input type="submit" value="<%= Spree.t('pay_now') %>" class="btn btn-default"/>
  </form>
  <div id="loadImg"><div><img src="/assets/loading.gif" /></div></div>
  <iframe name="my-iframe" src="" style="border:none; width: 100%; height: 500px;" id="iframe-payment" noresize frameborder="0" onload="document.getElementById('loadImg').style.display='none';">
  </iframe>
  <% end %>
</fieldset>
<%= content_for :javascripts do %>
<script type="text/javascript">
  $(function(){
    $("#form-authorization input[type=submit]").click(function(){
      $('#iframe-payment, #loadImg').show();
      $("#loadImg div").css('width', $('#iframe-payment').width());
    });
    $("#iframe-payment").on('load', function(){
      $("#loadImg").hide();
      $("#form-authorization input[type=submit]").hide();
    })
  })
</script>
<% end %>
<style>
#loadImg{position:absolute;z-index:999;}
#loadImg div{display:table-cell;width:900px;height:500px;background:#f0f0f0;text-align:center;vertical-align:middle; opacity: 0.5;}
</style>