<%- if @donation.status.eql?('open') %>
  <form action="<%= @content.post_url rescue '' %>" method="post" id="action-form">
    <input type="hidden" name="klikPayCode" value="<%= @content.klik_pay_code %>">
    <input type="hidden" id="transactionNo" name="transactionNo" value="<%= @content.transaction_no %>">
    <input type="hidden" name="totalAmount" value="<%= @content.total_amount %>">
    <input type="hidden" name="currency" value="<%= @content.currency %>">
    <input type="hidden" name="payType" value="<%= @content.pay_type %>">
    <input type="hidden" name="callback" value="<%= @content.callback %>">
    <input type="hidden" name="transactionDate" value="<%= @content.transaction_date %>">
    <input type="hidden" name="descp" value="<%= @content.descp %>">
    <input type="hidden" name="miscFee" value="<%= @content.misc_fee %>">
    <input type="hidden" name="signature" value="<%= @content.signature %>">
    <input type="hidden" name="authKey" value="<%= @content.auth_key %>">
    <input type="submit" value="<%= Spree.t('klikpay') %>" class="btn btn-default" style="text-transform: none;" onclick= "set_payment_timeout('<%= @content.transaction_no %>')"/>
  </form>
  <iframe name="my-iframe" src="" style="border:none; width: 100%; height: 500px; display:none;" id="iframe-payment">
  </iframe>
<% end %>
  <% content_for :javascripts do %>
    <script type="text/javascript">
      function set_payment_timeout(no){
        $.ajax({
          url: "/bca/payments/set_payment_timeout?transaction_no="+no,
          success: function(data){
            if(data.status){
              $("#action-form").submit();
            }
          }        
        });
        return false;
      }
    </script>
  <% end %>
