<div class="receives">
  <h1><%= @payment.try(:status) || params["transactionStatus"] %></h1>
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="label">Transaction</div>
      <div class="detail"><%= @payment.try(:transaction_id) %></div>      
    </div>
    <div class="col-md-6">
      <div class="label">Transaction Description</div>
      <div class="detail"><%= @payment.try(:transaction_description) %></div>      
    </div>
    <div class="col-md-6">
      <div class="label">Card No</div>
      <div class="detail"><%= @payment.try :card_no %></div>      
    </div>
    <div class="col-md-6">
      <div class="label">Code</div>
      <div class="detail"><%= @payment.try :acquirer_code %></div>      
    </div>
    <div class="col-md-6">
      <div class="label">Merchant</div>
      <div class="detail"><%= params["siteID"] %>-<%= @payment.try :acquirer_merchant_account %></div>      
    </div>
    <div class="col-md-6">
      <div class="label">Approval Code</div>
      <div class="detail"><%= @payment.try(:acquirer_approval_code) %></div>      
    </div>
  </div>
  <div class="link-to-order">
    <%- if @payment.donation %>
      <a id="detail-order" href="javascript:void(0)" class="btn btn-default">Detail Donation</a>
      <%= hidden_field_tag "url_order", "http://#{Spree::Config[:site_url]}/donations/#{@payment.try(:donation).try(:id)}" %>
    <% else %>
      <a id="detail-order" href="javascript:void(0)" class="btn btn-default">Detail Order</a>
      <%= hidden_field_tag "url_order", "http://#{Spree::Config[:site_url]}/orders/#{@payment.try(:order).try(:number)}" %>
    <% end %>
  </div>
</div>
<%= stylesheet_link_tag 'tenants/salihara' %>
<%= javascript_include_tag "jquery" %>
<script>
  $(function(){
    $("#detail-order").click(function(){
      href = $("#url_order").val();
      parent.location.href = href;
    });    
  })
</script>