<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:confirm) %></legend>
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } if @order %>
</fieldset>
<%= render "#{@order.payments.last.payment_method.method_type}" %>