<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:donation) %></legend>
  <div class="donation-detail">
    <%= render :partial => 'spree/shared/donation_details', :locals => { :order => @order } %>
  </div>
</fieldset>
<%= render "#{@donation.payment_method.method_type}_donation" %>