<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:donation) %></legend>
  <div class="donation-detail">
    <%= render :partial => 'spree/shared/member_details' %>
  </div>
</fieldset>
<%= render "#{@member.payment_method.method_type}_member" %>