<h1>Receives</h1>
<form action="<%= @order.payments.valid.first.source.options[:transaction_url] rescue '' %>" target="my-iframe" method="post" id="form-authorization" style="display:none;">
  <input type="text" name="siteID" id="site-id" value="salihara">
  <input type="text" name="serviceVersion" id="site-id" value="1.0">
  <input type="text" name="merchantTransactionID" id="merchant-transaction-id" value="<%= @order.number %>">
  <input type="text" name="transactionType" id="transaction-type" value="AUTHORIZATION">
  <input type="text" name="currency" id="currency" value="<%= Spree::Config[:currency] %>">
  <input type="text" name="amount" id="amount" value="<%= @order.total %>">
  <input type="submit" value="post">
</form>
<iframe name="my-iframe" src="https://training.doappx.com/sprintAsia/api/webAuthorization.cfm" style="width: 100%;">
</iframe>
<script>
  document.getElementById("form-authorization").submit();
</script>