<%- if @order.payments.valid.last.source.status.eql?('completed') %>
<h1>
  Thank You
  <%= @order.payments.valid.last.source.status %>
</h1>
<% else %>
<h1>Your Payment Not yet completed</h1>
<% end %>
