<section class="row dashboard">
  <div class="container">
    <div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
      <div class="col-md-12" data-hook="product_left_part">
        <div class="row" data-hook="product_left_part_wrap">
          <h1><%= translation(@page, "title") %></h1>
          <div data-hook="pages-detail">
            <%= raw translation(@page, "content") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>