<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <table width="90%" style="margin: 0 auto"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td>
              <font style="font-family: Georgia, Times, serif; color:#000000; font-size:14px; font-weight:bold;">
                Dear Customer,
              </font>
            </td>
          </tr>
        </tbody></table>
        <table style="width: 100%; margin: 0 auto"><tbody>
          <tr><td><hr/></td></tr>
          <tr><td>&nbsp;</td></tr>
        </tbody></table>
        <table bgcolor="#000000" width="100%">
          <tbody>
            <tr>
              <td align="center" style="padding: 15px 0;">
                <font style="font-family: Georgia,&quot;Times New Roman&quot;,Times,serif; color: rgb(255, 255, 255); font-size: 18px; display: block; width: 75%; line-height: 25px;">
                  <em><%= Spree.t('order_mailer.cancel_email.instructions') %></em>
                </font>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="100%" bgcolor="#f9f9f9"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr>                              
            <td>
              <table width="100%"><tbody>
                <tr>
                  <td colspan="2" width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;"><b>Rekap Pemesanan:</b></font></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" class="bordered" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Item</font></th>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Jumlah</font></th>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Harga</font></th>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Total</font></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @order.line_items.each do |item| %>
                        <tr>
                          <td>
                            <font style="font-family: Arial; color:#000000; font-size:12px;">
                              <%= raw(item.variant.product.name) %>
                            </font>
                          </td>
                          <td>
                            <font style="font-family: Arial; color:#000000; font-size:12px;">
                              <%=item.quantity%>
                            </font>
                          </td>
                          <td>
                            <font style="font-family: Arial; color:#000000; font-size:12px;">
                              <%= item.single_money %>
                            </font>
                          </td>
                          <td>
                            <font style="font-family: Arial; color:#000000; font-size:12px;">
                              <%= item.display_amount %>
                            </font>
                          </td>
                        </tr>
                        <% end %>
                        <tr>
                          <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="3" ><font style="font-family: Arial; color:#000000; font-size:12px;">Subtotal</font></td>
                          <td ><font style="font-family: Arial; color:#000000; font-size:12px;">:<%= @order.display_item_total %>
                          </font></td>
                        </tr>
                        <% @order.adjustments.eligible.each do |adjustment| %>
                        <tr>
                          <td colspan="3" ><font style="font-family: Arial; color:#000000; font-size:12px;"><%= raw(adjustment.label) %></font></td>
                          <td ><font style="font-family: Arial; color:#000000; font-size:12px;">:<%= adjustment.display_amount %></font></td>
                        </tr>             
                        <% end %>
                        <% @order.shipments.each do |shipment| %>
                        <tr>
                          <td colspan="3" ><font style="font-family: Arial; color:#000000; font-size:12px;"><%= raw(Spree.t('shipment')) %></font></td>
                          <td ><font style="font-family: Arial; color:#000000; font-size:12px;">:<%= shipment.display_cost %></font></td>
                        </tr>
                        <% end %>
                        <tr>
                          <td colspan="4">&nbsp;</td>
                        </tr>
                        <tr>
                          <td colspan="3" >
                            <font style="font-family: Arial; color:#000000; font-size:12px;">Total Pemesanan</font>
                          </td>
                          <td>
                            <font style="font-family: Arial; color:#000000; font-size:12px;">:<%= @order.display_total %></font>
                          </td>
                        </tr>                        
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
      </tbody>
    </table>
    <table width="100%" style="margin-top: 30px;"><tbody>
      <tr><td align="center">
        <font style="font-family: Arial; color:#000000; font-size:12px;">   
          Terima kasih untuk bisnis Anda
        </font>
      </td></tr>
      <tr><td>&nbsp;</td></tr>
    </tbody>
  </table>
</td>
<td width="10%">&nbsp;</td>
</tr>
</tbody>
</table>