/*
*= require_self
*= require_tree . 
*/

table {margin-bottom: 10px;}
.filter_choices li{height: 20px;}
.filter_choices li input[type='checkbox'], .filter_choices li label{margin: 0px !important;}
s{color: red; font-size: 10px;}

.taxons ul li{padding: !important; margin-bottom: 0px !important;}
@media only screen and (max-width: 767px){
  #update-cart #subtotal, #update-cart .links{
    width: 100% !important;    
  }
}
@media only screen and (max-width: 479px){
  ul#products li{
    width: 100% !important;
    margin-right: 0px !important;
  }
}

#mobile-menu .submenu{height: auto;}
.sticky #mobile-menu ul.navmenu ul.submenu{
  height: auto !important;
  overflow-y: hidden !important;
}
@media only screen and (max-width: 767px){
  .container{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .top-cart-contain{position: absolute; top: -4px !important;}
  .cart-info{font-size: 0px !important;}
}

.col-item{padding-bottom: 10px;}
.media-body{width: 100%; display: block !important;}
.rating i{color: #F03434;}
.modal-header, .modal-footer{background: #3b4348; color: #fff;}
.modal-header button[type='button']{color: #fff;}
#wishlist-form, .email_to_friend{max-width: 250px; float: left;}
#taxon-crumbs{width: 100%;}
#wishlist-form button[type='submit'].large{margin-left: 0px !important;}

input[type="submit"], input[type="button"], input[type="reset"], button, a.button, .primary{
background: #fff;
border: 3px solid #EFEFEF;
margin: 0 8px 0 8px;
padding: 9px 10px 9px 10px;
color: #333;
line-height: 14px;
transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
}

input[type='submit']:hover, .primary:hover, .button:hover, .gray:hover{
  background: #CF3341;
  border: 3px solid #EFEFEF;
  margin: 0 8px 0 8px;
  padding: 9px 10px 9px 10px;
  color: #FFFFFF;
}

#product-properties{width: 95% !important;}
.gray{background-color: #fff !important; }
.gray:hover{color: #CF3341;}

.info-zoom{margin: 0 20px 5px;}

/* FlexSlider Necessary Styles*********************************/.flexslider{margin:0;padding:0;}
.flexslider .slides > li{display:none;-webkit-backface-visibility:hidden;}
 .flexslider .slides img{width:100%;display:block;}
.flex-pauseplay span{text-transform:capitalize;}
.slides:after{content:"\0020";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
html[xmlns] .slides{display:block;}
* html .slides{height:1%;}
/* If you are not using another script, such as Modernizr, make sure you * include js that eliminates this class on page load */.no-js .slides > li:first-child{display:block;}
/* FlexSlider Default Theme*********************************/.flexslider{margin:0 20px 20px;position:relative;}
.flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;transition:all 1s ease;}
.loading .flex-viewport{max-height:300px;}
.flexslider .slides{zoom:1;}
/*.carousel li{margin-right:5px;}*/
.flex-viewport li{overflow:hidden;}
#carousel .flex-viewport .slides img{display:inline-block;float:left;height:94px;overflow:hidden;width:auto;}
.flex-direction-nav{*height:0;}
.flex-direction-nav a{text-decoration:none;display:block;width:41px;height:57px;margin:-20px 0 0;position:absolute;font-size:0;top:50%;z-index:10;overflow:hidden;opacity:0;cursor:pointer;color:rgba(0,0,0,0.8);text-shadow:1px 1px 0 rgba(255,255,255,0.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;}
.flex-direction-nav .flex-prev{background:url(/assets/templates/andromeda/flex-prev.png);left:-50px;}
.flex-direction-nav .flex-next{background:url(/assets/templates/andromeda/flex-next.png);right:-50px;text-align:right;}
.flexslider:hover .flex-prev{background:url(/assets/templates/andromeda/flex-prev.png);opacity:0.7;left:10px;}
.flexslider:hover .flex-next{background:url(/assets/templates/andromeda/flex-next.png);opacity:0.7;right:10px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{opacity:1;}
.flex-direction-nav .flex-disabled{opacity:0!important;filter:alpha(opacity=0);cursor:default;}
.flex-direction-nav a:before{font-family:"flexslider-icon";font-size:40px;line-height:1;display:inline-block;}
.flex-pauseplay a{display:block;width:20px;height:20px;position:absolute;bottom:5px;left:10px;opacity:0.8;z-index:10;overflow:hidden;cursor:pointer;color:#111;}
.flex-pauseplay a:before{font-family:"flexslider-icon";font-size:20px;display:inline-block;content:'\f004';}
.flex-pauseplay a:hover{opacity:1;}
.flex-pauseplay a.flex-play:before{content:'\f003';}
.flex-control-nav{width:100%;position:absolute;bottom:-40px;text-align:center;}
.flex-control-nav li{margin:0 6px;display:inline-block;zoom:1;*display:inline;}
.flex-control-paging li a{width:11px;height:11px;display:block;background:#666;background:rgba(0,0,0,0.5);cursor:pointer;text-indent:-9999px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;-webkit-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);-o-box-shadow:inset 0 0 3px rgba(0,0,0,0.3);box-shadow:inset 0 0 3px rgba(0,0,0,0.3);behavior:url("PIE.htc");position:relative;}
.flex-control-paging li a:hover{background:#333;background:rgba(0,0,0,0.7);}
.flex-control-paging li a.flex-active{background:#111;background:rgba(0,0,0,0.9);cursor:default;}
.flex-control-thumbs{margin:5px 0 0;position:static;overflow:hidden;}
.flex-control-thumbs li{width:25%;float:left;margin:0;}
.flex-control-thumbs img{width:100%;display:block;opacity:.7;cursor:pointer;}
.flex-control-thumbs img:hover{opacity:1;}
.flex-control-thumbs .flex-active{opacity:1;cursor:default;}
@media screen and (max-width:860px){.flex-direction-nav .flex-prev{opacity:1;left:10px;}
 .flex-direction-nav .flex-next{opacity:1;right:10px;}
;}
#carousel li{cursor:pointer;margin-right:5px;width:25%;}
#carousel .flex-direction-nav a{margin:-26px 0 0;outline:none !Important;box-shadow:none !Important;}
.detailpage .slider{background:none;margin:0;}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020;}
.fancybox-skin{background:none repeat scroll 0 0 #111000;color:#444444;padding:0 !important;position:relative;text-shadow:none;}
.fancybox-opened{z-index:8030;}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);behavior:url("PIE.htc");position:relative;}
.fancybox-outer, .fancybox-inner{position:relative;}
.fancybox-inner{overflow:hidden;}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch;}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.fancybox-image, .fancybox-iframe{display:block;width:100%;height:100%;}
.fancybox-image{max-width:100%;max-height:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('/assets/templates/andromeda/fancybox_sprite.png');}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060;}
#fancybox-loading div{width:44px;height:44px;background:url('/assets/templates/andromeda/fancybox_loading.gif') center center no-repeat;}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040;}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url('/assets/templates/andromeda/blank.gif');-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040;}
.fancybox-nav:focus{outline:none;}
.fancybox-prev{left:0;}
.fancybox-next{right:0;}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden;}
.fancybox-prev span{left:10px;background-position:0 -36px;}
.fancybox-next span{right:10px;background-position:0 -72px;}
.fancybox-nav:hover span{visibility:visible;}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-lock{overflow:hidden !important;width:auto;}
.fancybox-lock body{overflow:hidden !important;}
.fancybox-lock-test{overflow-y:hidden !important;}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:999999;background:url('/assets/templates/andromeda/fancybox_overlay.png');}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll;}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:8050;}
.fancybox-opened .fancybox-title{visibility:visible;}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center;}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height:24px;white-space:nowrap;behavior:url("PIE.htc");position:relative;}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap{padding-top:10px;}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#111;background:rgba(0, 0, 0, .8);}
@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min--moz-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5){#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span{background-image:url('/assets/templates/andromeda/fancybox_sprite@2x.png');background-size:44px 152px;}
 #fancybox-loading div{background-image:url('/assets/templates/andromeda/fancybox_loading@2x.gif');background-size:24px 24px;}
}
.fancybox-wrap{width:auto !important;height:auto !important;top:82px !Important;max-width:1000px !Important}
.fancybox-image{width:100%}
.fancybox-inner{height:auto !important;overflow:visible;width:100% !important;}

  #line-items thead th.price{color: #fff!important;}

  .control-carousel{
    font-size: 50px;
    margin-top: -200px;
    z-index: 99999;
  }
  .control-carousel:hover{color: #359BED;}
  .control-carousel.pull-right{margin-right: -25px;}
  .control-carousel.pull-left{margin-left: -25px;}
  .carousel-indicators li{background-color: #777 !important;}
  .carousel-indicators li.active{background: #359BED !important;}

  .social-btn a{
    font-size: 18px;
    border-radius: 3px;
    line-height: 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    padding: 0;
  }

  .facebook-me{  background: #3C5B9B;}
  .twitter-me{background: #359BED}
  .google_plus-me{background: #E33729}
  .pinterest-me{background: #cb2027}
  .youtube-me{background: #F03434}
  .instagram-me{background: #FD9F13;}
  .flickr-me{background: rgb(4,145,220);}


  ul.inline li{float: left;}

  #header .banner a {
    display: block;
    max-width: 1170px;
    max-height: 65px; }

    #header .banner a img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 65px;
      max-width: 1170px; }

      .facebook-fanbox {
        overflow-x : hidden;
      }

      .remove-border .item{
        border: none !important;
      }

      #cart-detail, #wishlist{width: 100%;}
      #content{padding-top: 10px;}

      #breadcrumbs{border: none !important;}

      #product-images #main-image{border: none !important;}

      .taxons-list li{
      }
      .taxons-list li a{
        padding: 10px 5px;
        background: #eff2f4;
        color: #777;
        border-bottom: 1px solid #fff;

        width: 100%;
        cursor: pointer;
        display: block;
      }
      .taxons-list li a:hover{
        background: #eff5fc;
      }
      #sidebar{
        padding-bottom: 20px;
      }

      table tr th{background: #3b4348; color: #fff; padding-top: 10px 0px !important;}
      .cart-subtotal td, .cart-total td{
        background: #eff2f4 !important;
      }
      .cart-subtotal td h5, .cart-total td h5{color: #777 !important;}
      span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total{
        color: #777 !important;
      }