 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <table width="90%" style="margin: 0 auto"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr>
            <td>
              <font style="font-family: Georgia, Times, serif; color:#000000; font-size:14px; font-weight:bold;">
                Dear Customer,
              </font>
            </td>
          </tr>
        </tbody></table>
        <table style="width: 100%; margin: 0 auto"><tbody>
          <tr><td><hr/></td></tr>
          <tr><td>&nbsp;</td></tr>
        </tbody></table>
        <table bgcolor="#000000" width="100%">
          <tbody>
            <tr>
              <td align="center" style="padding: 15px 0;">
                <font style="font-family: Georgia,&quot;Times New Roman&quot;,Times,serif; color: rgb(255, 255, 255); font-size: 18px; display: block; width: 75%; line-height: 25px;">
                  <em><%= Spree.t('shipment_mailer.shipped_email.instructions') %></em>
                </font>
              </td>
            </tr>
          </tbody>
        </table>
        <table width="100%" bgcolor="#f9f9f9"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr>                              
            <td>
              <table width="100%"><tbody>
                <tr>
                  <td colspan="2" width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;"><b>Rekap Pengiriman:</b></font></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" class="bordered" cellspacing="0" cellpadding="0">
                      <thead>
                        <tr>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Sku</font></th>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Product</font></th>
                          <th><font style="font-family: Arial; color:#000000; font-size:12px;">Description</font></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @shipment.manifest.each do |item| %>
                        <tr>
                          <td><font style="font-family: Arial; color:#000000; font-size:12px;"><%= item.variant.sku %></font></td>
                          <td><font style="font-family: Arial; color:#000000; font-size:12px;"><%= item.variant.product.name %> </font></td>
                          <td><font style="font-family: Arial; color:#000000; font-size:12px;"><%= item.variant.options_text %></font></td>
                        </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody></table>
            </td>
          </tr>
          <tr><td>&nbsp;</td></tr>
        </tbody>
      </table>
      <table width="100%" style="margin-top: 30px;"><tbody>
        <tr><td align="center">
          <font style="font-family: Arial; color:#000000; font-size:12px;">   
           <%= Spree.t('shipment_mailer.shipped_email.thanks') %>
         </font>
       </td></tr>
       <tr><td>&nbsp;</td></tr>
     </tbody>
   </table>
 </td>
 <td width="10%">&nbsp;</td>
</tr>
</tbody>
</table>