<div id="bca-content">
  <% @order.available_payment_methods.each do |method| %>
    <%- if method.class == Spree::Bca::CreditCard %>
      <% param_prefix = "payment_source[#{payment_method.id}]" %>
      <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>
      <p class="field">
        <%= hidden_field_tag "#{param_prefix}[transaction_no]", "#{@order.number}#{Time.zone.now.to_i.to_s[5..9]}" %>
        <%= hidden_field_tag "#{param_prefix}[order_id]", "#{@order.id}" %>
      </p>
    <% end %>
  <% end %>
</div>