<div id="bca-content">
  <% @order.available_payment_methods.each do |method| %>
    <%- if method.class == Spree::Bca::KlikPay %>
      <% param_prefix = "payment_source[#{payment_method.id}]" %>
      <p class="field">
        <%= hidden_field_tag "#{param_prefix}[transaction_no]", "#{@order.number}#{Time.zone.now.to_i.to_s[5..9]}" %>
        <%= hidden_field_tag "#{param_prefix}[order_id]", "#{@order.id}" %>
        <%= hidden_field_tag "#{param_prefix}[klik_pay_code]", "#{method.options[:klik_pay_code]}" %>
      </p>
      <%= image_tag 'BCAKlikPay.png' %>
      <p class="field">
        <%= check_box_tag "#{param_prefix}[receive_email]" %> <%= Spree.t('update_via_email') %> <br/>
        <%= check_box_tag "#{param_prefix}[terms]" %> <%= Spree.t('have_read_terms') %> <%= link_to Spree.t('terms_and_condition'), '#' %>
      </p>
    <% end %>
  <% end %>
</div>
