<% @body_id = 'login' %>
<div id="existing-customer">
  <h2 class="title text-center">Masuk</h2>
  <div data-hook="login">
    <% if flash[:alert] || flash[:error] %>
      <div class="flash errors"><%= flash[:error] %></div>
    <% end %>
    <%= render :partial => 'spree/shared/login' %>
    <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:create_a_new_account), spree.signup_path %> | <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
  </div>
</div>
<div data-hook="login_extras"></div>
