<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>
</head>
<body>
  <%= render "spree/shared/header" %>
  <%= render "spree/shared/slider" %>  
  <section>
    <div class="container">
      <div class="row">
        <%= render "spree/shared/left_sidebar" %>
        
        <div class="col-sm-9 padding-right">
          <%= yield %>
          <div class="clearfix"></div>
          <%= render "spree/shared/promo_banner_one" %>
          <div class="clearfix"></div>
          <%= render "spree/shared/related_products" %>
          <div class="clearfix"></div>
          <%= render "spree/shared/best_seller" %>     
        </div>
      </div>
    </div>
  </section>
  <%= render "spree/shared/footer" %>
  </body>
</html>