<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<h2 class="title text-center"><%= Spree.t(:registration) %></h2>
<div id="registration" data-hook>
  <div id="account" class="columns alpha eight">
    <%= render template: 'spree/user_sessions/new' %>
  </div>
  <% if Spree::Config[:allow_guest_checkout] %>
    <div id="guest_checkout" data-hook class="columns omega eight">
      <h2 class="title text-center"><%= Spree.t(:guest_user_account) %></h2>
      <% if flash[:registration_error] %>
        <div class='flash error'><%= flash[:registration_error] %></div>
      <% end %>
      <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
        <div class="form-group">
          <%= f.label :email, Spree.t(:email) %><br />
          <%= f.email_field :email, :class => 'title form-control' %>
        </div>
        <p><%= f.submit Spree.t(:continue), :class => 'button primary btn btn-default add-to-cart' %></p>
      <% end %>
    </div>
  <% end %>
</div>
