<div data-hook="admin_product_form_fields">  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :type_banner do %>
      <%= f.label :type_banner, raw(Spree.t(:type) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.select :type_banner, Spree::PromoBanner.types, {}, :class => 'fullwidth title select2' %>
      <%= f.error_message_on :type_banner %>
    <% end %>
    <%= f.fields_for :promo_banner_image do |c| %>
      <%= image_tag(c.object.attachment.url(:small)) if c.object.attachment.present? %>
      <%= c.label :attachment, Spree.t(:image) %>
      <%= c.file_field :attachment %>
    <% end %>
    <%= f.field_container :url do %>
      <%= f.label :url, Spree.t(:url) %>
      <%= f.text_field :url, :class => 'fullwidth title', placeholder: "http://thekios.com/products/show-me" %>
      <%= f.error_message_on :url %>
    <% end %>    
    <%= f.field_container :product_id do %>
      <%= f.label :product_id, Spree.t('product') %>
      <%= f.select :product_id, Spree::Product.all.map{|x| [x.name, x.id]}, {selected: f.object.product_id, include_blank: Spree.t('choose_a_product')}, :class => 'fullwidth title select2' %>
      <small>*Pilih product akan memberikan link ke detail product pada banner</small>
      <%= f.error_message_on :product_id %>
    <% end %>
  </div>
</div>