<% content_for :page_title do %>
  <%= Spree.t(:edit_promo_banner) %>
<% end %>
<%= form_for [:admin, @object], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>