<% content_for :page_title do %>
  <%= Spree.t(:listing_promo_banners) %>
<% end %>
<% content_for :page_actions do %>
  <li id="new_promo_banner_link">
    <%= button_link_to Spree.t(:new_promo_banner), new_object_url, { :icon => 'plus', :id => 'admin_new_promo_banner' } %>
  </li>
<% end if can?(:create, Spree::PromoBanner) %>
<%= paginate @collection %>
<% if @collection.any? %>
  <table class="index" id="listing_promo_banners">
<!--     <colgroup>
       <col style="width: 15%;">
       <col style="width: 10%;">
       <col style="width: 20%;">
       <col style="width: 65%;">
    </colgroup>
 -->  <thead>
      <tr data-hook="admin_promo_banners_index_headers">
        <th>type</th>
        <th>Image</th>
        <th data-hook="admin_promo_banners_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |promo_banner| %>
          <tr style="" id="<%= spree_dom_id promo_banner %>" data-hook="admin_promo_banners_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= promo_banner.type_banner %></td>
            <td><%= image_tag(promo_banner.promo_banner_image.attachment.url(:small)) rescue '' %></td>
            <td class="actions" data-hook="admin_promo_banners_index_row_actions">
              <%= link_to_edit promo_banner, :no_text => true, :class => 'edit' if can?(:edit, promo_banner) %>
              <%= link_to_delete promo_banner, :no_text => true if can?(:delete, promo_banner) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/promo_banner')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_promo_banner_path %>!
  </div>
<% end %>
<%= paginate @collection %>
