<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <div class="form-group" id=<%="#{address_id}firstname" %>>
    <%= form.label :firstname, Spree.t(:first_name) %><span class="required">*</span><br />
    <%= form.text_field :firstname, :class => 'form-control required' %>
  </div>
  <div class="form-group" id=<%="#{address_id}lastname" %>>
    <%= form.label :lastname, Spree.t(:last_name) %><span class="required">*</span><br />
    <%= form.text_field :lastname, :class => 'form-control required' %>
  </div>
  <% if Spree::Config[:company] %>
    <div class="form-group" id=<%="#{address_id}company" %>>
      <%= form.label :company, Spree.t(:company) %><br />
      <%= form.text_field :company %>
    </div>
  <% end %>
  <div class="form-group" id=<%="#{address_id}address1" %>>
    <%= form.label :address1, Spree.t(:street_address) %><span class="required">*</span><br />
    <%= form.text_field :address1, :class => 'form-control required' %>
  </div>
  <div class="form-group" id=<%="#{address_id}address2" %>>
    <%= form.label :address2, Spree.t(:street_address_2) %><br />
    <%= form.text_field :address2, class: 'form-control' %>
  </div>
  <div class="form-group" id=<%="#{address_id}country" %>>
    <%= form.label :country_id, Spree.t(:country) %><span class="required">*</span><br />
    <span id=<%="#{address_id}country-selection" %>>
      <%= form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required'} %>
    </span>
  </div>

<!--   <% if Spree::Config[:address_requires_state] %>
    <div class="form-group" id=<%="#{address_id}state" %>>
      <% have_states = !address.country.states.empty? %>
      <%= form.label :state, Spree.t(:state) %><span class='required' id=<%="#{address_id}state-required"%>>*</span><br/>

      <% state_elements = [
         form.collection_select(:state_id, address.country.states,
                            :id, :name,
                            {:include_blank => true},
                            {:class => have_states ? 'required' : 'hidden',
                            :disabled => !have_states}) +
         form.text_field(:state_name,
                            :class => !have_states ? 'required' : 'hidden',
                            :disabled => have_states)
         ].join.gsub('"', "'").gsub("\n", "")
      %>
      <%= javascript_tag do -%>
        $('#<%="#{address_id}state" %>').append("<%== state_elements %>");
      <% end %>
    </div>
      <noscript>
        <%= form.text_field :state_name, :class => 'form-control required' %>
      </noscript>
  <% end %>
 -->  <div class="form-group" id=<%="#{address_id}city" %>>
    <%= form.label :city, Spree.t(:city) %><span class="required">*</span><br />
    <%= form.hidden_field :city, :class => 'form-control required' %>
    <%= form.select :city_id, options_for_select((address.country.cities.order(:name).map{|x| [x.name, x.id]} rescue []), selected: address.try(:city_id)), {prompt: "--Select City--"}, :class => 'form-control required form-control' %>
  </div>
  <div class="form-group" id=<%="#{address_id}city" %>>
    <%= form.label :sub_district, Spree.t(:district) %><span class="required">*</span><br />
    <%= form.select :sub_district_id, options_for_select((Spree::City.find_by_id(address.city_id).try(:sub_districts).map{|x| [x.name, x.id]} rescue []), selected: address.sub_district_id), {prompt: "--Select District--"}, :class => 'form-control required form-control' %>
  </div>
  <div class="form-group" id=<%="#{address_id}zipcode" %>>
    <%= form.label :zipcode, Spree.t(:zip) %><% if address.require_zipcode? %><span class="required">*</span><br /><% end %>
    <%= form.text_field :zipcode, :class => "form-control #{'required' if address.require_zipcode?}" %>
  </div>
  <div class="form-group" id=<%="#{address_id}phone" %>>
    <%= form.label :phone, Spree.t(:phone) %><% if address.require_phone? %><span class="required">*</span><br /><% end %>
    <%= form.phone_field :phone, :class => "form-control #{'required' if address.require_phone?}" %>
  </div>
  <% if Spree::Config[:alternative_shipping_phone] %>
    <div class="form-group" id=<%="#{address_id}altphone" %>>
      <%= form.label :alternative_phone, Spree.t(:alternative_phone) %><br />
      <%= form.phone_field :alternative_phone, class: 'form-control' %>
    </div>
  <% end %>
</div>
