<div data-hook="admin_product_form_fields">
  
  <div class="left alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :subject do %>
      <%= f.label :subject, raw(Spree.t(:subject)) %>
      <%= f.text_field :subject, :class => 'fullwidth title' %>
      <%= f.error_message_on :subject %>
    <% end %>

    <%= f.field_container :review do %>
      <%= f.label :review, Spree.t(:review) %>
      <%= f.text_area :review, {:rows => 20, :class => 'fullwidth'} %>
      <%= f.error_message_on :review %>
    <% end %>

    <%= f.field_container :rating do %>
      <%= f.label :rating, Spree.t(:rating) %>
      <%= f.select :rating, options_for_select([1,2,3,4,5], selected: @product_review.rating), class: 'select2-container' %>
      <%= f.error_message_on :rating %>
    <% end %>

    <%= f.field_container :status do %>
      <%= f.label :status, Spree.t(:status) %>
      <%= f.select :status, options_for_select(['published', 'unpublish']) %>
      <%= f.error_message_on :status %>
    <% end %>
  </div>
</div>