<% content_for :page_title do %>
  <%= Spree.t(:edit_review) %>
<% end %>

<!--<#%= render :partial => 'spree/shared/error_messages', :locals => { :target => @page } %>-->

<%= form_for [:admin, @product_review], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
