<% content_for :review_title do %>
  <%= Spree.t(:listing_reviews) %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:filter) %>
<% end %>
<% content_for :table_filter do %>
  <div data-hook="admin_product_reviews_sidebar">
    <%= form_tag '', url: admin_product_reviews_path, method: :get do |f| %>
        <div data-hook="admin_product_reviews_index_search">
          <div class="alpha nine columns">
            <div class="field">
              <%= label_tag :status, Spree.t(:status) %>
              <%= select_tag :status, options_for_select(['new', 'published', 'unpublish'], selected: params[:status]), class: 'select2' %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="form-buttons actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button Spree.t(:search), 'search' %>
        </div>
    <% end %>
  </div>
<% end %>

<%= paginate @product_reviews %>

<% if @product_reviews.any? %>
  <table class="index responsive" id="listing_reviews" data-hook>
    <colgroup>
       <col style="width: 20%;">
       <col style="width: 30%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_reviews_index_headers">
        <th>Title</th>
        <th>Review</th>
        <th>By</th>
        <th>Product</th>
        <th>Rating</th>
        <th>At</th>
        <th>Status</th>
        <th data-hook="admin_reviews_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @product_reviews.each do |review| %>
      <tr data-hook="admin_reviews_index_rows" class="state-<%= review.id %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= review.subject %></td>
        <td class="align-center"><%= review.review.truncate(100) if review.review %></td>
        <td class="align-center">
          <%= link_to review.user.name ? review.user.name : review.user.email, edit_admin_user_path(review.user.id) %>
        </td>
        <td class="align-center">
          <%= link_to review.product.name, edit_admin_product_path(review.product.slug) %>
        </td>
        <td class="align-center"><%= review.rating.to_i %></td>
        <td class="align-center"><%= review.created_at.strftime("%d %B %Y, %H:%M") %></td>
        <td class="align-center"><%= review.status.titleize %></td>
        <td class='actions align-center' data-hook="admin_reviews_index_row_actions">
          <%= link_to_edit_url edit_admin_product_review_path(review), :title => "admin_edit_#{dom_id(review)}", :no_text => true %>
          <%= link_to_delete review, url: admin_product_review_path(review), :no_text => true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: 'Review') %>,
  </div>
<% end %>

<%= paginate @product_reviews %>