<% url = product_url(product, :taxon_id => @taxon.try(:id)) %>
<div class="product-image-wrapper">
  <div class="single-products">
    <div class="productinfo text-center">
      <%= link_to url, title: product.name, class: 'product-image' do %>
      <%= product_image(product, :itemprop => "image") %>
      <% end %>
      <div class="ratings">
        <%- if product.show_rates? %>
        <%- (0..(product.rates.to_i - 1)).each do |x| %>
        <i class="fa fa-star"></i>
        <% end %>
        <% end %>
      </div>
      <h2><%= show_price_discount_html(product) %></h2>
      <p><%= product.name %></p>
      <%= form_tag "/orders/populate" do %>
      <%= hidden_field_tag "variant_id", product.master.id %>
      <%= hidden_field_tag "quantity", 1 %>
      <%= link_to "javascript:void(0)", onclick: "$(this).parent().submit();", class: "btn btn-default add-to-cart" do %>
      <i class="fa fa-shopping-cart"></i>Add to cart
      <% end %>
      <% end %>
    </div>
    <%- if defined?(wishlist) %>
    <div class="product-overlay">
      <div class="overlay-content">
      <div class="ratings">
        <%- if product.show_rates? %>
        <%- (0..(product.rates.to_i - 1)).each do |x| %>
        <i class="fa fa-star"></i>
        <% end %>
        <% end %>
      </div>
      <h2><%= show_price_discount_html(product) %></h2>
      <p><%= link_to product.name, url %></p>
      <%= form_tag "/orders/populate" do %>
      <%= hidden_field_tag "variant_id", product.master.id %>
      <%= hidden_field_tag "quantity", 1 %>
      <%= link_to "javascript:void(0)", onclick: "$(this).parent().submit();", class: "btn btn-default add-to-cart" do %>
      <i class="fa fa-shopping-cart"></i>Add to cart
      <% end %>
      <% end %>
      </div>
    </div>
    <% end %>
    <%- if product.is_new? %>
      <img src="/assets/templates/shopper/home/new.png" class="new" alt="" />
    <% end %>
  </div>
  <%- if defined?(wishlist) %>
  <div class="choose">
    <ul class="nav nav-pills nav-justified">
      <li>
        <%= form_tag "/wished_products", class: "new_wished_product" do %>
          <%= hidden_field_tag "wished_product[variant_id]", product.master.id %>
          <%= link_to "javascript:void(0)", onclick: "$(this).parent().submit();", class: "link-wishlist" do %>
            <i class="fa fa-plus-square"></i><%= Spree.t('add_to_wishlist') %>
          <% end %>
        <% end %>
    </ul>
  </div>
  <% end %>
</div>