  <footer id="footer"><!--Footer-->  
    <div class="footer-widget">
      <div class="container">
        <div class="row">
            <%- Spree::Page.order(:title).limit(6).each do |page| %>
          <div class="col-sm-2">
              <div class="single-widget">
                <a href="/pages/<%= page.slug %>"><%= page.title %></a>
<!--                 <ul class="nav nav-pills nav-stacked">
                    <li><a href="/pages/<%= page.slug %>"><%= page.title %></a></li>
                </ul>
 -->
               </div>
          </div>
            <% end %>
        </div>
    </div>
  </div>
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <p class="pull-left">Copyright © 2015 <%= Spree::Config[:store_name] %>.</p>
          <p class="pull-right">Powered by <span><a target="_blank" href="#">KiossK</a></span></p>
        </div>
      </div>
    </div>
    
  </footer><!--/Footer-->
