<header id="header"><!--header-->
  <div class="header_top"><!--header_top-->
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="contactinfo">
            <ul class="nav nav-pills">
              <li><a href="#"><i class="fa fa-phone"></i> <%= Spree::Config[:merchant_phone] %></a></li>
              <li><a href="mailto:<%= Spree::Config[:merchant_email] %>"><i class="fa fa-envelope"></i> <%= Spree::Config[:merchant_email] %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="social-icons pull-right">
            <%= render "spree/shared/social_link" %>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header_top-->

  <div class="header-middle"><!--header-middle-->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="logo pull-left">
            <%= link_to image_tag(Spree::Config[:logo]), spree.root_path, class: 'logo' %>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="shop-menu pull-right">
            <ul class="nav navbar-nav">
              <%- if spree_current_user %>
              <li><a href="/account"><i class="fa fa-user"></i> <%= Spree.t('account') %></a></li>
              <li><a href="/wishlist"><i class="fa fa-star"></i> <%= Spree.t('wishlist') %></a></li>
              <% end %>
              <li><a href="/cart"><i class="fa fa-shopping-cart"></i> <%= Spree.t('cart') %></a></li>
              <%- if spree_current_user %>
              <li><a href="/logout"><i class="fa fa-lock"></i> Logout</a></li>
              <% else %>
              <li><a href="/login"><i class="fa fa-lock"></i> Login</a></li>
              <% end %>
              <% if SpreeI18n::Config.supported_locales.size > 1 %>
              <li>
              <div id="locale-select" class="btn-group pull-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle usa" data-toggle="dropdown">
                    <%= Spree.t(:'i18n.language') %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <%- supported_locales_options.each do |locale| %>
                    <li role="presentation">
                      <%= link_to locale.first, spree.set_locale_path(locale: locale.last, format: "html"), role: "menuitem", tabindex: "-1", method: :post %>
                    </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </li>
              <% end %>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
  
  <div class="header-bottom"><!--header-bottom-->
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="mainmenu pull-left">
            <ul class="nav navbar-nav collapse navbar-collapse">
              <li><a href="index.html" class="active"><%= Spree.t('home') %></a></li>
              <li class="dropdown">
                <a href="#">Shop<i class="fa fa-angle-down"></i></a>
                <ul role="menu" class="sub-menu">
                  <li><a href="/products"><%= Spree.t('products') %></a></li>
                  <li><a href="/cart"><%= Spree.t('cart') %></a></li> 
                </ul>
              </li> 
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="search_box pull-right">
            <%= render "spree/shared/search" %>
          </div>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
  </header><!--/header-->