<div class="col-sm-3">
  <div class="left-sidebar">
    <%- Spree::Taxon.roots.each do |root| %>
<!--     <div class="brands_products">
      <h2>Brands</h2>
      <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
          <li><a href="#"> <span class="pull-right">(56)</span>Grüne Erde</a></li>
          <li><a href="#"> <span class="pull-right">(27)</span>Albiro</a></li>
          <li><a href="#"> <span class="pull-right">(32)</span>Ronhill</a></li>
          <li><a href="#"> <span class="pull-right">(5)</span>Oddmolly</a></li>
          <li><a href="#"> <span class="pull-right">(9)</span>Boudestijn</a></li>
          <li><a href="#"> <span class="pull-right">(4)</span>Rösch creative culture</a></li>
        </ul>
      </div>
    </div>
 -->

      <h2><%= root.name.humanize %></h2>
      <div class="panel-group category-products" id="accordian"><!--category-productsr-->
        <%- root.children.each do |child| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <%- if child.children.any? %>
                  <a data-toggle="collapse" data-parent="#accordian" href="#<%= child.name.tripme %>">
                    <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                    <%= child.name.humanize %>
                  </a>
                <% else %>
                  <a href="/t/<%= child.permalink %>">
                    <span class="badge pull-right">(<%= child.products.count %>)</span>
                    <%= child.name.humanize %>
                  </a> 
                <% end %>
              </h4>
            </div>
            <%- if child.children.any? %>
              <div id="<%= child.name.tripme %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul>
                    <%- child.children.each do |c| %>
                      <li>
                        <a href="/t/<%= c.permalink %>">
                          <span class="badge pull-right">(<%= c.products.count %>)</span>
                          <%= c.name.humanize %>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="price-range"><!--price-range-->
      <%= render "spree/shared/filters" %>
    </div><!--/price-range-->

    <%= render "spree/shared/promo_banner_offer" %>
  </div>
</div>