<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <div class="form-group">
      <%= f.label :email, Spree.t(:email) %><br />
      <%= f.email_field :email, :class => 'title form-control', :tabindex => 1, autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :password, Spree.t(:password) %><br />
      <%= f.password_field :password, :class => 'title form-control', :tabindex => 2 %>
    </div>
  </div>
  <p>
    <%= f.check_box :remember_me, :tabindex => 3 %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
  </p>

  <p><%= f.submit Spree.t(:login), :class => 'button primary btn btn-default add-to-cart', :tabindex => 4 %></p>
<% end %>
