<!--  <nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><#%= link_to Spree.t(:home), spree.root_path %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <#%= link_to Spree.t(:cart), '/cart' %>
      </noscript>
      &nbsp;
    </li>
    <script>Spree.fetch_cart()</script>
  </ul>
</nav> -->
<div id="main-nav-bar-andromeda">
  <div id="home-link" class="home">
    <%= link_to spree.root_path do %>
    <%= Spree.t(:home) %>
    <% end %>
  </div>
  <%- if spree_current_user %>
  <div class="myaccount">
    <%= link_to spree.account_path do %>
    <%= Spree.t(:my_account) %>
    <% end %>
  </div>
  <div class="wishlist">
    <a title="My Wishlist" href="/wishlist">
      <span class="hidden-xs">Wishlist</span>
    </a>
  </div>
  <div class="login">
    <%= link_to spree.logout_path do %>
    <%= Spree.t(:logout) %>
    <% end %>
  </div>
  <% else %>
  <div class="login">
    <%= link_to spree.login_path do %>
    <%= Spree.t(:login) %>
    <% end %>
  </div>
  <% end %>
  <% if SpreeI18n::Config.supported_locales.size > 1 %>
  <div id="locale-select" data-hook>
    <div class="dropdown block-company-wrapper hidden-xs company">
      <a href="#" class="block-company dropdown-toggle" data-target="#" data-toggle="dropdown" role="button"> 
        <%= Spree.t(:'i18n.language') %> <span class="caret"></span>
      </a>
      <ul role="menu" class="dropdown-menu">
        <%- supported_locales_options.each do |locale| %>
        <li role="presentation">
          <%= link_to locale.first, spree.set_locale_path(locale: locale.last, format: "html"), role: "menuitem", tabindex: "-1", method: :post %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
</div>