<nav class="">
  <div class="container">
    <div class="nav-inner">
      <%= top_menu %>
    </div>

    <div id="mobile-menu" class="hidden-desktop">
      <ul class="navmenu">
        <li>
          <div class="menutop">
            <div class="toggle"> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span>
            </div>
            <h2>Menu</h2>
          </div>
          <%= top_menu_mobile %>
        </li>
      </ul>
    </div>


    <div class="search-box pull-right">
      <%= render 'spree/shared/search' %>
    </div> 
  </div>
</nav>
