<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>

<% content_for :head do %>
<% if paginated_products.respond_to?(:num_pages) %>
<%= rel_next_prev_link_tags paginated_products %>
<% end %>
<% end %>

<% if products.empty? %>
<%- result = Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
<%- result = Spree.t(:search_results, :keywords => h(params[:keywords])) %>
<% elsif @taxon %>
<%- result = @taxon.name %>
<% end %>
<div class="clearfix"></div>
<div class="features_items"><!--features_items-->
  <h2 class="title text-center"><%= result ? result : "Features Items" %></h2>
  <%- products.each do |product| %>
    <div class="col-sm-4">
      <%= render partial: '/spree/shared/block_product', locals: {product: product, wishlist: true} %>
    </div>
  <% end %>
</div>
<% if paginated_products.respond_to?(:num_pages) %>
<%= paginate paginated_products, theme: "frontend" %>
<% end %>