<%- products = Spree::PromoBanner.where(type_banner: 'box1').order("id DESC").last(2) %>
<%- if products.any? %>
<div class="promo-banner">
<%- products.each do |product| %>
<div class="col-sm-6 col-xs-12">
  <%= link_to product.get_url do %>
  <%= image_tag(product.promo_banner_image.attachment.url(:large), class: "img-responsive") %>
  <% end %>
</div>
<% end %>
</div>
<% end %>