<%- if @related_products && @related_products.any? %>
<div class="recommended_items"><!--recommended_items-->
  <h2 class="title text-center"><%= Spree.t('related_products') %></h2>
  <div id="related-item-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
       <%- @related_products.each_with_index do |product, i| %>
      <%- if i.zero? || i % 3 == 0 %>
      <div class="item <%= 'active' if i.zero? %>"> 
      <% end %>
        <div class="col-sm-4">
          <%= render partial: "spree/shared/block_product", locals: {product: product} %>
        </div>
      <%-if (i + 1) % 3 == 0 || i == (@related_products.length - 1)%>
      </div>
      <% end %>
      <% end %>
    </div>
    <a class="left recommended-item-control" href="#related-item-carousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right recommended-item-control" href="#related-item-carousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>      
  </div>
</div><!--/recommended_items-->
<% end %>