<%- sliders = Spree::Slider.last(10) %>
<%- if sliders.any? && controller_name.eql?('home') %>
  <section id="slider"><!--slider-->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <%- sliders.each_with_index do |slider, i| %>
                <li data-target="#slider-carousel" data-slide-to="<%= i %>" class="<%= 'active' if i.zero? %>"></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <%- sliders.each_with_index do |slider, i| %>
              <div class="item <%= 'active' if i.zero? %>">
                <div class="col-sm-6">
                  <%= raw(slider.description) %>
                  <%- if slider.have_url? %>
                    <%= link_to "Click here!", slider.get_url, class: "btn btn-default get" %>
                  <% end %>
                </div>
                <img src="<%= slider.slider_image.attachment.url(:slider) %>" class="girl img-responsive" alt="" />
              </div>
              <% end %>              
            </div>            
            <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
              <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          
        </div>
      </div>
    </div>
  </section><!--/slider-->
<% end %>