<%- socials = Spree::Social.all %>
<%- if socials && socials.any? %>
<ul class="nav navbar-nav">
  <%- socials.each do |social| %>
  <li class="social-btn <%= social.provider.to_s %>-me">
    <%= link_to social.url, target: '_blank', title: social.provider.humanize do %>
    <i class="fa fa-<%= social.provider.to_s.gsub("_", "-")%>"></i>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>