<div class="form-group">
  <%= f.label :email, Spree.t(:email) %><br />
  <%= f.email_field :email, :class => 'title form-control' %>
</div>
<div id="password-credentials">
<div class="form-group">
    <%= f.label :password, Spree.t(:password) %><br />
    <%= f.password_field :password, :class => 'title form-control' %>
  </div>

<div class="form-group">
    <%= f.label :password_confirmation, Spree.t(:confirm_password) %><br />
    <%= f.password_field :password_confirmation, :class => 'title form-control' %>
  </div>
</div>

<div data-hook="signup_below_password_fields"></div>
