<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>AdminArea</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <style>
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

@media only screen and (max-width: 320px) and (max-width: 400px){
  .header {
    position: absolute;
    top: calc(31% - 35px) !important;
    left: calc(113% - 255px) !important;
    z-index: 2;
  }

  .login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(22% - 50px) !important;
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
  }
}


@media only screen and (min-width: 400px) and (max-width: 768px){
  .header {
    position: absolute;
    top: calc(31% - 35px) !important;
    left: calc(96% - 255px) !important;
    z-index: 2;
  }

  .login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(33% - 50px) !important;
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
  }
}
body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #fff;

  color: #fff;
  font-family: Arial;
  font-size: 12px;
}

.body{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(/assets/city-skyline-wallpapers-008.jpg);
  background-size: cover;
  -webkit-filter: blur(5px);
  z-index: 0;
}

.grad{
  position: absolute;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
  z-index: 1;
  opacity: 0.7;
}

.header{
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 255px);
  z-index: 2;
}

.header div{
  float: left;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
}

.header div span{
  color: #5379fa !important;
}

.login{
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  height: 150px;
  width: 350px;
  padding: 10px;
  z-index: 2;
}

.login input[type=text], .login input[type=email]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
}

.login input[type=password]{
  width: 250px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  border-radius: 2px;
  color: #fff;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  margin-top: 10px;
}

.login input[type=button], .login button{
  width: 260px;
  height: 35px;
  background: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 2px;
  color: #a18d6c;
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  margin-top: 10px;
}

.login input[type=button]:hover{
  opacity: 0.8;
}

.login input[type=button]:active{
  opacity: 0.6;
}

.login input[type=text]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
  outline: none;
  border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
  outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
</style>

    <!--<script src="js/prefixfree.min.js"></script>-->

</head>

<body>

  <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Kios<span>K</span></div>
    </div>
    <br>
    <div class="login">
    <%= yield %>
    </div>
  <!--<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>-->

</body>

</html>