<div data-hook="admin_product_form_fields">  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :code do %>
      <%= f.label :code, raw(Spree.t(:code) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :code, :class => 'fullwidth title' %>
      <%= f.error_message_on :code %>
    <% end %>
    <%= f.field_container :domain do %>
      <%= f.label :domain, raw(Spree.t(:domain) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :domain, :class => 'fullwidth title' %>
      <%= f.error_message_on :domain %>
    <% end %>
    <%= f.fields_for :tenant_configuration do |c| %>
      <%= c.label :status, Spree.t(:status) %>
      <%= c.select :status, [['Active', 'active' ],['InActive', 'inactive']], {}, :class => 'fullwidth select2' %>
      <br/>
      <%= c.label :type_registration, Spree.t(:type_registration) %>
      <%= c.select :type_registration, [['Solar', 'solar'],['Premium', 'premium'],['Pertamax', 'pertamax']], {}, :class => 'fullwidth select2' %>
      <br/>
      <%= c.label :expired_at, Spree.t(:expired_at) %>
      <%= c.text_field :expired_at, :class => 'fullwidth datepicker', value: (f.object.expired_at.strftime("%Y/%m/%d") rescue '') %>
      <br/>
      <%= c.label :payment_status, Spree.t(:payment_status) %>
      <%= c.select :payment_status, [['Paid', 'paid'],['Balance', 'balance']], {}, :class => 'fullwidth select2' %>
      <br/>
      <%= c.label :max_products, Spree.t(:max_products) %>
      <%= c.number_field :max_products %>
      <br/>
      <%= c.label :max_products_image, Spree.t(:max_products_image) %>
      <%= c.number_field :max_products_image %>
    <% end %>
  </div>
</div>