<% content_for :page_title do %>
  <%= Spree.t(:listing_tenants) %>
<% end %>
<% content_for :page_actions do %>
  <li id="new_tenant_link">
    <%= button_link_to Spree.t(:new_tenant), new_object_url, { :icon => 'plus', :id => 'admin_new_tenant' } %>
  </li>
<% end if can?(:create, Spree::Tenant) %>
<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>
<% content_for :table_filter do %>
  <div data-hook="admin_tenants_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {:f => f} %>
        <div data-hook="admin_tenants_index_search">
          <div class="four columns">
            <div class="field">
              <%= f.label :code_cont, Spree.t(:code) %>
              <%= f.text_field :code_cont, :size => 15 %>
            </div>
          </div>
          <div class="four columns">
            <div class="field">
              <%= f.label :domain_cont, Spree.t(:domain) %>
              <%= f.text_field :domain_cont, :size => 15 %>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="form-buttons actions filter-actions" data-hook="admin_tenants_index_search_buttons">
          <%= button Spree.t(:search), 'search' %>
        </div>
    <% end %>
  </div>
<% end %>
<%= paginate @collection %>
<% if @collection.any? %>
  <table class="index" id="listing_tenants">
<!--     <colgroup>
       <col style="width: 15%;">
       <col style="width: 10%;">
       <col style="width: 20%;">
       <col style="width: 65%;">
    </colgroup>
 -->  <thead>
      <tr data-hook="admin_tenants_index_headers">
        <th>Code</th>
        <th>Domain</th>
        <th>Status</th>
        <th>Payment Status</th>
        <th>Type</th>
        <th>Expired At</th>
        <th data-hook="admin_tenants_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |tenant| %>
          <tr style="<%= 'color: red;' if tenant.expired? %>" id="<%= spree_dom_id tenant %>" data-hook="admin_tenants_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= tenant.code %></td>
            <td><%= link_to tenant.try(:domain), edit_admin_tenant_path(tenant) %></td>
            <td class="align-center"><%= tenant.status rescue '' %></td>
            <td class="align-center"><%= tenant.payment_status rescue ''%></td>
            <td class="align-center"><%= tenant.type_registration rescue '' %></td>
            <td class="align-center"><%= tenant.expired_at.strftime("%d-%m-%Y") rescue ''%></td>
            <td class="actions" data-hook="admin_tenants_index_row_actions">
              <%= link_to_edit tenant, :no_text => true, :class => 'edit' if can?(:edit, tenant) %>
              <%= link_to_delete tenant, :no_text => true if can?(:delete, tenant) %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/tenant')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_tenant_path %>!
  </div>
<% end %>
<%= paginate @collection %>
