$("#body-form").html("<%= escape_javascript(render 'spree/shared/form_review') %>");
<%- if @product_review.errors.empty? %>
  $("#body-form").find("input, text_area").val('');
  $(".form-group").hide();
  $("#save-review").hide();
<% end %>