<% content_for :page_title do %>
<%= Spree.t("admin.mail_methods.send_email_to_users") %>
<% end %>

<%= form_tag admin_post_email_users_path do %>
<fieldset class="no-border-top">
  <div data-hook="admin_product_form_fields">  
    <div class="" data-hook="admin_product_form_left">
      <%= label_tag :mail_users, Spree.t('users') %>
      <%= hidden_field_tag :mail_users, '', :class => 'fullwidth' %>
      <small>Note: Jika dikosongkan maka akan mengirim ke semua pengguna.</small>
    </div>
    <div class="clear"></div>
    <div class="" data-hook="admin_product_form_left">
      <%= label_tag :mail_subject, Spree.t('subject') %>
      <%= text_field_tag :mail_subject, '',:class => 'fullwidth' %>
    </div>
    <div class="clear"></div>
    <div class="" data-hook="admin_product_form_left">
      <%= label_tag :mail_content, Spree.t('content') %>
      <%= text_area_tag :mail_content, '', :class => 'fullwidth' %>
    </div>
  </div>
  <div class="clear"></div>
  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <button class="fa fa-icon-refresh button" name="button" type="submit"><%= Spree.t('send') %></button>
  </div>
</fieldset>
<% end %>
<script>
$(document).ready(function () {
  $('#mail_users').userAutocomplete();
});
</script>