<div data-hook="admin_variant_form_fields" class="label-block left six columns alpha">
  <div data-hook="variants">
    <% @product.option_types.each do |option_type| %>
      <div class="field" data-hook="presentation">
        <%= label :new_variant, option_type.presentation %>
        <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
          { :prompt => true }, { :name => 'variant[option_value_ids][]', :class => 'select2 fullwidth' } %>
      </div>
    <% end %>

    <div class="field" data-hook="sku">
      <%= f.label :sku, Spree.t(:sku) %>
      <%= f.text_field :sku, :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="price">
      <%= f.label :price, Spree.t(:price) %>
      <%= f.text_field :price, :value => number_to_currency(@variant.price, :unit => ''), :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="cost_price">
      <%= f.label :cost_price, Spree.t(:cost_price) %>
      <%= f.text_field :cost_price, :value => number_to_currency(@variant.cost_price, :unit => ''), :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="discount">
      <%= f.label :discount, Spree.t(:discount) %>
      <%= f.text_field :discount, :class => '' %> %
    </div>

    <div class="field" data-hook="tax_category">
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
    </div>
  </div>
</div>

<div class="right six columns omega label-block" data-hook="admin_variant_form_additional_fields">
  <% [:weight, :height, :width, :depth].each do |field| %>
    <div class="field" data-hook="<%= field %>"><%= f.label field, Spree.t(field) %>
      <% value = number_with_precision(@variant.send(field), :precision => 2) %>
      <%= f.text_field field, :value => value, :class => 'fullwidth' %>
    </div>
  <% end %>
</div>

<div class="clear"></div>
