<% if flash[:error] %>
  <div class="flash errors" style="text-align: left; color: red;"><%= flash[:error] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer">
  <div data-hook="login">
    <%= form_for Spree::User.new, :as => :spree_user, :url => spree.admin_create_new_session_path do |f| %>
      <div id="password-credentials">
        <p>
          <%= f.email_field :email, placeholder: Spree.t('email'), :class => 'title', :tabindex => 1 %>
        </p>
        <p>
          <%= f.password_field :password, placeholder: 'password', :class => 'title', :tabindex => 2 %>
        </p>
      </div>
      <p><%= f.button Spree.t(:login), type: 'submit', :class => 'button primary', :tabindex => 4 %></p>
    <% end %>
    <%= Spree.t(:or) %>
    <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
  </div>
</div>
<div data-hook="login_extras"></div>
