<fieldset id="order_summary" data-hook>
  <div id="order" data-hook class="col-md-12">
    <legend><%= Spree.t(:order_number, :number => @order.number) %></legend>
    <h1><%= accurate_title %></h1>


    <% if params.has_key? :checkout_complete %>
      <h1><%= Spree.t(:thank_you_for_your_order) %></h1>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

    <br class="clear" />

    <p data-hook="links">
      <%= link_to Spree.t(:back_to_store), spree.root_path, :class => "button" %>
      <% unless params.has_key? :checkout_complete %>
        <% if try_spree_current_user && respond_to?(:spree_account_path) %>
          <%= link_to Spree.t(:my_account), spree_account_path, :class => "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
</fieldset>
