<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8b9d103f-e2a2-4850-9827-839469f6a304", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<style type="text/css">
  .sos-med>ul {
      padding-left:0;
      margin-bottom:0;
      list-style:none;
      text-align: center;
  }
  .sos-med>ul>li {
      display:inline-block;
  }
  .sos-med>ul>li>a>img {
      transition:all 0.3s;
      -webkit-transition:all 0.3s;
      -moz-transition:all 0.3s;
  }
  .sos-med>ul>li>a:hover>img {
      transform:scale(1.12);
      -webkit-transform:scale(1.12);
      -moz-transform:scale(1.12);
  }
  .bordered {
    border: 1px solid #cccccc;
  }
  .bordered th,
  .bordered td {
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 3px;
  }
  .bordered th:last-child,
  .bordered td:last-child {
    border-right: none;
  }
  .bordered tbody tr:last-child td {
    border-bottom: none;
  }
</style>
</head>

<body bgcolor="#141414">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#141414">
    <tbody>
      <tr>
        <td>
          <table width="522" style="border-top: 5px solid rgba(21,230,249,0.82);" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
            <tbody>
              <tr><td>&nbsp;</td></tr>
              <tr>
                <td align="center">
                  <a href="<%= Spree::Config[:site_url] %>">
                    <img src="<%= Spree::Config[:site_url] %><%= Spree::Config[:logo] %>" width="98" height="60" style="display:block" border="0" alt=""/>
                  </a></td>
              </tr>
              <tr><td>&nbsp;</td></tr>
              <tr>
                <td>
                  <%= yield %>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        </tr>
            <tr><td>
            </td></tr>

            <tr><td align="center">
              <font style="text-decoration: none;font-family: Arial; color:#ffffff; font-size:13px;">&copy;2014 <%= Spree::Config[:site_name] %></font>
            </td></tr>
          </tbody></table>

        </td>
      </tr>

    </tbody>
  </table>
</body>
</html>
