<%= render :partial => 'spree/admin/shared/configuration_menu' %>
<% content_for :page_title do %>
  <%= Spree.t(:menu) %>
<% end %>

<%= form_tag admin_menu_index_path do %>
  <div id="preferences" data-hook>
    <fieldset class="general no-border-top">
      <div class="row">
        <div class="alpha twelve columns">
          <fieldset class="security no-border-bottom">
            <legend align="center"><%= Spree.t(:manage_menu)%></legend>
          </fieldset>
          <div class="field">
            <ul class="parent-menu">
              <%- Spree::Menu.menu_parents.order(:name).each do |menu| %>
                <li class="item-parent-menu">
                  <%- if @menus.include?(menu.key) %>
                    <%= check_box_tag "menu[#{menu.key}]".to_sym, menu.id, {checked: true} %>
                  <% else %>
                    <%= check_box_tag "menu[#{menu.key}]".to_sym, menu.id %>
                  <% end %>
                  <%= label_tag menu.key.to_sym, menu.name.humanize %>
                <%- if menu.childs_menu %>
                    <ul class="child-menu">
                      <% menu.childs_menu.order(:name).each do |sub_menu| %>
                        <li class="item-child-menu">
                          <%- if @menus.include?(sub_menu.key) %>
                            <%= check_box_tag "menu[#{sub_menu.key}]".to_sym, sub_menu.id, {checked: true} %>
                          <% else %>
                            <%= check_box_tag "menu[#{sub_menu.key}]".to_sym, sub_menu.id %>
                          <% end %>
                          <%= label_tag sub_menu.key.to_sym, sub_menu.name.humanize %>
                        </li>              
                      <% end %>
                    </ul>
                <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= button Spree.t('actions.update'), 'refresh' %>
      </div>
    </fieldset>
  </div>
<% end %>
<!-- please move to assets -->
<style>
 .item-parent-menu{width: 100%;}
 .child-menu{margin-left: 20px;}
 .child-menu li {width: 100%;}
</style>
<!-- please move to assets -->
<!--<#%= content_for :javascripts do %>-->
  <script type="text/javascript">
    $(document).ready(function(){
      $(".item-parent-menu input[type='checkbox'], .item-parent-menu li input[type='checkbox']").click(function(){
        checked   = this.checked;
        checkbox  = $(this).parent();
        is_parent = checkbox.hasClass('item-parent-menu');
        
        if(checked){
          if(is_parent){
            checkbox.find("ul li input[type='checkbox']").prop('checked', 'checked');
          }else{
            checkbox.parents().eq(1).find("input[type='checkbox']:first").prop('checked', 'checked');
          }
        }else{
          if(is_parent){
            checkbox.find("ul li input[type='checkbox']").removeAttr('checked');
          }else{
            count_check = checkbox.parent().find("li input[type='checkbox']:checked").length
            if(count_check == 0){
              checkbox.parents().eq(1).find("input[type='checkbox']:first").removeAttr('checked');     
            }
          }
        }
      });
    })
  </script>
<!--<#% end %>-->