<fieldset data-hook="credit_card">
  <legend align="center"><%= Spree.t(:transfer) %></legend>
  <div class="row">
    <div class="alpha ten columns">
      <dl>
        <dt><%= Spree.t(:state) %>:</dt>
        <dd><%= payment.state %></dd>
      </dl>
    </div>
  </div>
</fieldset>