<fieldset>
  <%- if @donation.email.present? %>
    <dt><%= Spree.t('email') %></dt>
    <dl><%= @donation.email %></dl>
    <dt><%= Spree.t('phone_number') %></dt>
    <dl><%= @donation.phone_number %></dl>
    <dt><%= Spree.t('name') %></dt>
    <dl><%= @donation.name %></dl>
  <% end %>
  <dt><%= Spree.t('payment') %></dt>
  <dl>
    <%- if @donation.payment_method.is_a?(Spree::Bca::KlikPay) %>
      <%= image_tag 'BCAKlikPay.png' %>
    <% elsif @donation.payment_method.is_a?(Spree::Bca::CreditCard) %>
      <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>   
    <% end %>
  </dl>
  <dt><%= Spree.t('amount') %></dt>
  <dl><%= number_to_currency(@donation.total, unit: "Rp. ") %></dl>
</fieldset>