<fieldset>
  <dt><%= Spree.t('email') %></dt>
  <dl><%= @member.email %></dl>
  <dt><%= Spree.t('phone_number') %></dt>
  <dl><%= @member.phone_number %></dl>
  <dt><%= Spree.t('name') %></dt>
  <dl><%= @member.name %></dl>
  <dt><%= Spree.t('payment') %></dt>
  <dl>
    <%- if @member.payment_method.is_a?(Spree::Bca::KlikPay) %>
      <%= image_tag 'BCAKlikPay.png' %>
    <% elsif @member.payment_method.is_a?(Spree::Bca::CreditCard) %>
      <%= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image' %>   
    <% end %>
  </dl>
  <dt><%= @member.package_type.titleize %> <%= Spree.t('amount') %></dt>
  <dl><%= number_to_currency(Spree::User.packages[@member.package_type.to_sym][:price], unit: "Rp. ") %></dl>
</fieldset>