<div id="bca-content">
  <% @order.available_payment_methods.each do |method| %>
    <%- if method.class == Spree::PaymentMethod::Transfer %>
      <%= simple_format method.options[:content] %>
      <%= hidden_field_tag "order[payments_attributes][][source_id]", method.id %>
      <%= hidden_field_tag "order[payments_attributes][][source_type]", "Spree::PaymentMethod::Transfer" %>
    <% end %>
  <% end %>
</div>