<div data-hook="admin_product_form_fields">
  
  <div class="left eighteen columns alpha" data-hook="admin_product_form_left">    
    <%= f.field_container :title do %>
      <%= f.label :title, raw(Spree.t(:title) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :title, :class => 'fullwidth' %>
      <%= f.error_message_on :title %>
    <% end %>
    <%= f.field_container :meta_title do %>
      <%= f.label :meta_title, raw(Spree.t(:meta_title)) %>
      <%= f.text_field :meta_title, :class => 'fullwidth' %>
      <%= f.error_message_on :title %>
    <% end %>
    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description, raw(Spree.t(:meta_description)) %>
      <%= f.text_field :meta_description, :class => 'fullwidth' %>
      <%= f.error_message_on :meta_description %>
    <% end %>

    <%= f.field_container :content do %>
      <%= f.label :content, Spree.t(:content) %>
      <%= f.text_area :content, {:rows => 20, :class => 'fullwidth'} %>
      <%= f.error_message_on :content %>
    <% end %>
  </div>
</div>