<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:'i18n.translations'), spree.admin_translations_path('pages', @page.id), :icon => 'flag' %>
  </li>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:edit_page) %>
<% end %>

<!--<#%= render :partial => 'spree/shared/error_messages', :locals => { :target => @page } %>-->

<%= form_for [:admin, @page], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="clear"></div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
