<% content_for :page_title do %>
  <%= Spree.t(:listing_pages) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:new_page), new_admin_page_url, :icon => 'plus', :id => 'admin_new_page' %>
  </li>
<% end if can? :edit, Spree::Page.new %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<%= paginate @pages %>

<% if @pages.any? %>
  <table class="index responsive" id="listing_pages" data-hook>
    <colgroup>
       <col style="width: 70%;">
       <col style="width: 10%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_pages_index_headers">
        <th>Title</th>
        <th data-hook="admin_pages_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @pages.each do |page| %>
      <tr data-hook="admin_pages_index_rows" class="state-<%= page.friendly_id %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= page.title %></td>
        <td class='actions align-center' data-hook="admin_pages_index_row_actions">
          <%= link_to_edit_url edit_admin_page_path(page), :title => "admin_edit_#{dom_id(page)}", :no_text => true %>
          <%= link_to_delete page, url: admin_page_path(page), :no_text => true %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/order')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_page_path %>!
  </div>
<% end %>

<%= paginate @pages %>