<% content_for :sidebar_title do %>
  <%= Spree.t(:configurations) %>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <%= configurations_sidebar_menu_item Spree.t(:general_settings), edit_admin_general_settings_path if show_menu?('configurations') %>
      <% if Spree::Config[:override_actionmailer_config] && show_menu?('mail_methods') %>
        <%= configurations_sidebar_menu_item Spree.t(:mail_method_settings), edit_admin_mail_method_path %>
      <% end %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_categories), admin_tax_categories_path if show_menu?('tax_categories') %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_rates), admin_tax_rates_path if show_menu?('tax_rates') %>
      <%= configurations_sidebar_menu_item Spree.t(:tax_settings), edit_admin_tax_settings_path if show_menu?('tax_settings') %>
      <%= configurations_sidebar_menu_item Spree.t(:zones), admin_zones_path if show_menu?('zones') %>
      <%= configurations_sidebar_menu_item Spree.t(:countries), admin_countries_path if show_menu?('countries')%>
      <% if Spree::Config[:default_country_id] && show_menu?('states')%>
        <%= configurations_sidebar_menu_item Spree.t(:states), admin_country_states_path(Spree::Config[:default_country_id]) %>
      <% end %>
      <% if Multitenant.current_tenant.have_states? && show_menu?('cities')%>
        <%= configurations_sidebar_menu_item Spree.t(:cities), admin_state_cities_path(Multitenant.current_tenant.states.first) %>
      <% end %>
      <% if Multitenant.current_tenant.have_cities? && show_menu?('sub_districts')%>
        <%= configurations_sidebar_menu_item Spree.t(:sub_districts), admin_city_sub_districts_path(Multitenant.current_tenant.cities.first) %>
      <% end %>
      <%= configurations_sidebar_menu_item Spree.t(:payment_methods), admin_payment_methods_path if show_menu?('payment_methods') %>
      <%= configurations_sidebar_menu_item Spree.t(:taxonomies), admin_taxonomies_path if show_menu?('config_taxonomies') %>
      <%= configurations_sidebar_menu_item Spree.t(:shipping_methods), admin_shipping_methods_path if show_menu?('shipping_methods') %>
      <%= configurations_sidebar_menu_item Spree.t(:shipping_categories), admin_shipping_categories_path if show_menu?('shipping_categories') %>
      <%= configurations_sidebar_menu_item Spree.t(:stock_transfers), admin_stock_transfers_path if show_menu?('stock_transfers') %>
      <%= configurations_sidebar_menu_item Spree.t(:stock_locations), spree.admin_stock_locations_path if show_menu?('stock_locations') %>
      <%= configurations_sidebar_menu_item Spree.t(:analytics_trackers), admin_trackers_path if show_menu?('trackers') %>
      <%= configurations_sidebar_menu_item Spree.t(:menu), admin_menu_index_path if try_spree_current_user.as_superadmin? %>
      <%= configurations_sidebar_menu_item "JNE", admin_jne_shippings_path %>
      <%= configurations_sidebar_menu_item "Social Media", admin_socials_path %>
      <%= configurations_sidebar_menu_item "Promo Banner", admin_promo_banners_path %>
    </ul>
  </nav>
<% end %>
