<div class"box-qrcode">
  <%= image_tag @product.qrcode_url, class: "small-qrcode" %>
  <%= image_tag(@product.qrcode_url(200), class: "big-image", style: 'display:none;') %>
</div>
<script type="text/javascript">
  $(".small-qrcode").hover(function(){
    $(".big-image").show();
  }, function(){
    $(".big-image").hide();
  })
</script>