<% content_for :sub_menu do %>
  <ul id="sub_nav" data-hook="admin_product_sub_tabs" class="inline-menu">
    <%= tab :products, :match_path => '/products' if show_menu?('products')%>
    <%= tab :option_types, :match_path => '/option_types' if show_menu?('option_types') %>
    <%= tab :properties if show_menu?('properties') %>
    <%= tab :prototypes if show_menu?('prototypes') %>
    <%= tab :taxonomies if show_menu?('taxonomies') %>
    <%= tab :taxons if show_menu?('taxons') %>
    <% if can?(:admin, Spree::ProductReview) && show_menu?('reviews') %>
      <%= tab(:product_reviews, :url => spree.admin_product_reviews_path) %>
    <% end %>
  </ul>
<% end %>