<% if defined?(show_menu?) %>
  <% if can?(:admin, Spree::Order) && show_menu?('orders') %>
    <%= tab :orders, :payments, :creditcard_payments, :shipments, :credit_cards, :return_authorizations, :icon => 'shopping-cart', label: "orders" %>
  <% end %>
  <% if can?(:admin, Spree::Product) && show_menu?('products') %>
    <%= tab :products, :option_types, :properties, :prototypes, :variants, :product_properties, :taxonomies, :icon => 'th-large', label: "products" %>
  <% end %>
  <% if can?(:admin, Spree::Admin::ReportsController) && show_menu?('reports') %>
    <%= tab :reports, :icon => 'file', label: "reports"  %>
  <% end %>
  <% if show_menu?('configurations') %>
    <%= tab :configurations, :general_settings, :mail_methods, :tax_categories, :tax_rates, :tax_settings, :zones, :countries, :states, :payment_methods, :shipping_methods, :shipping_categories, :stock_transfers, :stock_locations, :trackers, :label => 'settings', :icon => 'wrench', :url => spree.edit_admin_general_settings_path %>
  <% end %>
  <% if can?(:admin, Spree::Promotion) && show_menu?('promotions') %>
    <%= tab(:promotions, :url => spree.admin_promotions_path, :icon => 'bullhorn', label: "promotion") %>
  <% end %>
  <% if Spree.user_class && can?(:admin, Spree.user_class) && show_menu?('users') %>
    <%= tab(:users, :url => spree.admin_users_path, :icon => 'user', label: "users") %>
  <% end %>
  <% if can?(:admin, Spree::Page) && show_menu?('pages') %>
    <%= tab(:pages, :url => spree.admin_pages_path, :icon => 'file', label: "pages") %>
  <% end %>
  <% if spree_current_user.try :as_superadmin? %>
    <%= tab(:tenants, :url => spree.admin_tenants_path, :icon => 'file') %>
  <% end %>
  <% if can?(:admin, Spree::Slider) %>
    <%= tab(:sliders, :url => spree.admin_sliders_path, :icon => 'file', label: "sliders") %>
  <% end %>
<% end %>