<div data-hook="admin_state_form_fields" class="row">
  <div class="alpha six columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %>
      <%= f.text_field :name, :class => 'fullwidth' %>
    <% end %>
  </div>
  <div class="omega six columns">
    <%= f.field_container :abbr do %>
      <%= f.label :code_name, Spree.t(:code_name) %>
      <%= f.text_field :code_name, :class => 'fullwidth' %>
      <%= f.hidden_field :city_id %>
    <% end %>
  </div>
</div>
