<div id="new_state" data-hook></div>

<table class="index" id='listing_states' data-hook>
  <colgroup>
    <col style="width: 70%" />
    <col style="width: 15%" />
    <col style="width: 15%" />
  </colgroup>
  <thead>
    <tr data-hook="states_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:name_code) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @sub_districts.each do |sub_district| %>
      <tr id="<%= spree_dom_id sub_district %>" data-hook="states_row" class="<%= cycle('odd', 'even')%>">
        <td><%= sub_district.name %></td>
        <td class="align-center"><%= sub_district.code_name %></td>
        <td class="actions">
          <%= link_to_with_icon 'edit', Spree.t(:edit), edit_admin_city_sub_district_url(@city, sub_district), :no_text => true %>
          <%= link_to_delete sub_district, url: admin_city_sub_district_path(@city, sub_district), :no_text => true %>
        </td>
      </tr>
    <% end %>
    <% if @sub_districts.empty? %>
      <tr><td colspan="3"><%= Spree.t(:none) %></td></tr>
    <% end %>
  </tbody>
</table>
