<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:sub_districts) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_state_link">
    <%= button_link_to Spree.t(:new_sub_district), new_admin_city_sub_district_url(@city), { :remote => true, :icon => 'plus', :id => 'new_state_link' } %>
  </li>
<% end %>

<div data-hook="country" class="field row">
  <%= label_tag :city, Spree.t(:city) %>
  <select id="city" class='observe_field select2 fullwidth' data-base-url="<%=admin_sub_districts_path(:format => :js) %>?city_id=" data-update="#sub-districts-list">
  <%= options_from_collection_for_select(@cities, :id, :name, @city.id) %>
  </select>
</div>

<%= image_tag 'select2-spinner.gif', :plugin => 'spree', :style => 'display:none;', :id => 'busy_indicator' %>

<div id="sub-districts-list" data-hook>
  <%= render :partial => 'sub_district_list'%>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    'use strict';
    $('#city').on('change', function () {
      var new_state_link_href = $('#new_state_link a').prop('href');
      var selected_country_id = $('#city option:selected').prop('value');
      var new_link = new_state_link_href.replace(/cities\/(\d+)/,
        'cities/' + selected_country_id);
      $('#new_state_link a').attr('href', new_link);
    });
  });
</script>