<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @sub_district } %>

<% content_for :page_title do %>
  <%= Spree.t(:new_sub_district) %>
<% end %>

<%= form_for [:admin, @city, @sub_district] do |f| %>
  <fieldset>
    <legend><%= Spree.t(:new_sub_district) %></legend>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.create'), 'ok' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'remove', Spree.t('actions.cancel'), admin_city_sub_districts_path(@city), :class => 'button' %>
    </div>
  </fieldset>
<% end %>
