<% promotion_action.promotion_action_line_items.each do |item| %>
  <strong><%= item.quantity %> x <%= item.variant.product.name rescue '-'%></strong>
  <%= item.variant.options_text rescue '-' %>
<% end %>

<% if promotion_action.promotion_action_line_items.empty? %>
  <% line_items = promotion_action.promotion_action_line_items %>
  <% line_items.build %>

  <% line_items.each_with_index do |line_item, index| %>
    <div class="add-line-item">
      <div class="row">
        <div class="field alpha eight columns">
          <% line_item_prefix = "#{param_prefix}[promotion_action_line_items_attributes][#{index}]" %>
          <%= hidden_field_tag "#{line_item_prefix}[variant_id]", line_item.variant_id, :class => "variant_autocomplete fullwidth" %>
          <div class='options_placeholder'></div>
        </div>
      </div>
      <div class="row">
        <div class="field omega eight columns">
          <%= number_field_tag "#{line_item_prefix}[quantity]", line_item.quantity, :min => 1, :class => 'fullwidth' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
