<div class="col-md-12" data-hook="product_left_part">
  <div class="row" data-hook="product_left_part_wrap">
    <h2 class="title text-center"><%= translation(@page, "title") %></h2>
    <div data-hook="pages-detail">
      <%= raw translation(@page, "content") %>
    </div>
  </div>
</div>
