<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <table bgcolor="#000000" width="100%" style="margin-bottom: 30px;">
          <tbody>
            <tr><td align="center" style="padding: 15px 0;">
              <font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:18px;"><em>Welcome <%= @resource.name %>!</em></font>
            </td></tr>
          </tbody>
        </table>

        <table width="100%" style="margin: 0 auto; padding: 5% 10%" bgcolor="#f9f9f9"><tbody>
          <tr>
            <td width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;">You can confirm your account email through the link below:</font></td>
          </tr>
        </tbody>
      </table>
        <table style="margin: 0 auto"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr><td><%= link_to 'Confirm my account', "http://" + Multitenant.current_tenant.try(:domain) + confirmation_path(@resource.confirmation_token), style: "background: none repeat scroll 0 0 rgba(21,230,249,0.82); color: #111111; display: block; font-family: Georgia,Times,serif; font-size: 14px; font-style: italic; padding: 10px 30px; text-decoration: none;" %>
           </td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>&nbsp;</td></tr>
        </tbody></table>


      </td>
      <td width="10%">&nbsp;</td>
    </tr>

  </tbody>
</table>