<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td width="10%">&nbsp;</td>
      <td width="80%" align="left" valign="top">
        <table bgcolor="#000000" width="100%">
          <tbody>
            <tr><td align="center" style="padding: 15px 0;">
              <font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#ffffff; font-size:18px;"><em>Thank you for register as Salihara member,<span style="display: block; font-size: 24px; margin-top: 5px;"><%= @member.name %> </span></em></font>
            </td></tr>
          </tbody>
        </table>
        <table width="100%" style="margin: 20px auto 0; padding: 5%"><tbody>
          <tr>
            <td><font style="font-family: Arial; color:#000000; font-size:12px;">Hello <%= @member.email %></font></td>
          </tr>
        </tbody></table>

        <table width="100%" style="margin: 0 auto; padding: 5% 10%" bgcolor="#f9f9f9"><tbody>

          <tr>
            <td width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;">Terima Kasih sudah bergabung menjadi sahabat Salihara.</font></td>
          </tr>
          <tr>
            <td width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;">Anda menjadi member <b>
              <%= @member.package_type.titleize rescue 'Platinum' %></b></font></td>
          </tr>
          <tr>
            <td width="100%"><font style="font-family: Arial; color:#000000; font-size:12px;">
              Klik button dibawah ini untuk konfirmasi akun Anda.
            </font>
          </td>
          </tr>
        </tbody></table>



        <table style="margin: 0 auto"><tbody>
          <tr><td>&nbsp;</td></tr>
          <tr><td>
            <%= link_to 'Confirm my account', "http://" + Multitenant.current_tenant.try(:domain) + confirmation_path(@member.confirmation_token), style: "background: none repeat scroll 0 0 rgba(21,230,249,0.82); color: #111111; display: block; font-family: Georgia,Times,serif; font-size: 14px; font-style: italic; padding: 10px 30px; text-decoration: none;" %></td></tr>
          <tr><td>&nbsp;</td></tr>
          <tr><td>&nbsp;</td></tr>
        </tbody></table>


      </td>
      <td width="10%">&nbsp;</td>
    </tr>

  </tbody>
</table>
