<div class="columns alpha six" data-hook="billing_fieldset_wrapper">
  <fieldset id="billing" data-hook>
    <%= form.fields_for :bill_address do |bill_form| %>
      <legend align="center"><%= Spree.t(:billing_address) %></legend>
      <%= render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>
    <% end %>
  </fieldset>
</div>

<div class="columns omega six" data-hook="shipping_fieldset_wrapper">
  <fieldset id="shipping" data-hook>
    <%= form.fields_for :ship_address do |ship_form| %>
      <legend align="center"><%= Spree.t(:shipping_address) %></legend>
      <p class="field checkbox" data-hook="use_billing">
        <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
        <%= label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing' %>
      </p>
      <%= render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>
    <% end %>
  </fieldset>
</div>
<hr class="clear" />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
  <% if try_spree_current_user %>
    <span data-hook="save_user_address">
      &nbsp; &nbsp;
      <%= check_box_tag 'save_user_address', '1', try_spree_current_user.respond_to?(:persist_order_address) %>
      <%= label_tag :save_user_address, Spree.t(:save_my_address) %>
    </span>
  <% end %>
</div>

  <script type="text/javascript">
    $("#order_ship_address_attributes_country_id").off('change').on('change', function(){
      ajaxCountry($(this).val(), $("#order_ship_address_attributes_city_id"));
    })

    $("#order_bill_address_attributes_country_id").off('change').on('change', function(){
      ajaxCountry($(this).val(), $("#order_bill_address_attributes_city_id"));
    })

    $("#order_ship_address_attributes_state_id").off('change').on('change', function(){
      ajaxCity($(this).val(), $("#order_ship_address_attributes_city_id"));
    })

    $("#order_bill_address_attributes_state_id").off('change').on('change', function(){
      ajaxCity($(this).val(), $("#order_bill_address_attributes_city_id"));
    })

    $("#order_ship_address_attributes_city_id").off('change').on('change', function(){
      $("#order_ship_address_attributes_city").val($(this).find("option:selected").text());
      ajaxDistrict($(this).val(), $("#order_ship_address_attributes_sub_district_id"));
    })

    $("#order_bill_address_attributes_city_id").off('change').on('change', function(){
      $("#order_bill_address_attributes_city").val($(this).find("option:selected").text());
      ajaxDistrict($(this).val(), $("#order_bill_address_attributes_sub_district_id"));
    })

    // first_load = true;

    // $(document).ready(function(){
    //   getStates();
    // });

    function getStates(){
      tag_bill = $("#order_bill_address_attributes_country_id");
      tag_ship = $("#order_ship_address_attributes_country_id");
      bill_country = tag_bill.val();
      ship_country = tag_ship.val();
      ajaxCountry(bill_country, $("#order_bill_address_attributes_state_id"));
      ajaxCountry(ship_country, $("#order_ship_address_attributes_state_id"));
    }

    function ajaxCountry(country_id, tag){
      url = "/cities_by_country?country_id=" + country_id;
      $.ajax({
        url: url,
        dataType: 'json',
        beforeSend: function(){
          removeImg(tag.parent());
          tag.parent().append(loadImg);
        },
        success: function(data){
          tag.html('');
          if(data.status){
            states = data.states;
            if(states){
              html = '';
              $.each(states, function(i, state){
                html += "<option value="+state[0]+">"+state[1]+"</option>";
              })
              tag.html(html);
            }
            tag.parent().removeClass('hide');
            tag.change();
          }
        },
        complete: function(){
          removeImg(tag.parent());          
        }

      });
    }

    function loadImg(){
      return "<img src='/assets/loading.gif'></img>";
    }

    function removeImg(tag){
      $(tag).find('img').remove();
    }

    function ajaxCity(state_id, tag){
      url = "/cities_by_state?state_id=" + state_id;
      $.ajax({
        url: url,
        dataType: 'json',
        beforeSend: function(){
          removeImg(tag.parent());
          tag.parent().append(loadImg);
        },
        success: function(data){
          tag.html('');
          if(data.status){
            cities = data.cities;
            if(cities){
              html = '';
              $.each(cities, function(i, city){
                html += "<option value="+city[0]+">"+city[1]+"</option>";
              })
              tag.html(html);
            }
            tag.parent().removeClass('hide');            
            tag.change();
          }
        },
        complete: function(){
          removeImg(tag.parent());          
        }
      });
    }

    function ajaxDistrict(city_id, tag){
      url = "/sub_districts_by_city?city_id=" + city_id;
      $.ajax({
        url: url,
        dataType: 'json',
        beforeSend: function(){
          removeImg(tag.parent());
          tag.parent().append(loadImg);
        },
        success: function(data){
          tag.html('');
          if(data.status){
            districts = data.districts;
            if(districts){
              html = '';
              $.each(districts, function(i, district){
                html += "<option value="+district[0]+">"+district[1]+"</option>";
              })
              tag.html(html);
            }
            tag.parent().removeClass('hide');
          }
        },
        complete: function(){
          removeImg(tag.parent());          
        }
      });
    }
  </script>