<% @body_id = 'signup' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

<div id="new-customer">
  <h2 class="title text-center"><%= Spree.t(:new_customer) %></h2>

  <div data-hook="signup">
    <%= form_for resource, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
      <div data-hook="signup_inside_form">
        <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
        <p><%= f.submit Spree.t(:create), :class => 'button primary btn btn-default add-to-cart' %></p>
      </div>
    <% end %>
    <%= Spree.t(:or) %>&nbsp;<%= link_to Spree.t(:login_as_existing), spree.login_path %>

  </div>

</div>

<div data-hook="login_extras"></div>
