<div data-hook="admin_shipping_method_form_fields" class="alpha twelve columns">
  <div data-hook="admin_shipping_method_form_name_field" class="alpha six columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %><br />
      <%= f.text_field :name, :class => 'fullwidth' %>
      <%= error_message_on :shipping_method, :name %>
    <% end %>
  </div>

  <div data-hook="admin_shipping_method_form_display_field" class="omega six columns">
    <%= f.field_container :display_on do %>
      <%= f.label :display_on, Spree.t(:display) %><br />
      <%= select(:shipping_method, :display_on, Spree::ShippingMethod::DISPLAY.collect { |display| [Spree.t(display), display == :both ? nil : display.to_s] }, {}, {:class => 'select2 fullwidth'}) %>
      <%= error_message_on :shipping_method, :display_on %>
    <% end %>
  </div>

  <div class="alpha omega twelve columns">
    <div data-hook="admin_shipping_method_form_internal_name_field" class="alpha six columns">
      <%= f.field_container :admin_name do %>
        <%= f.label :admin_name, Spree.t(:internal_name) %><br />
        <%= f.text_field :admin_name, :class => 'fullwidth', :label => false  %>
        <%= error_message_on :shipping_method, :admin_name %>
      <% end %>
    </div>
  </div>

  <div data-hook="admin_shipping_method_form_tracking_url_field" class="alpha twelve columns">
    <%= f.field_container :tracking_url do %>
      <%= f.label :tracking_url, Spree.t(:tracking_url) %><br />
      <%= f.text_field :tracking_url, :class => 'fullwidth', :placeholder => Spree.t(:tracking_url_placeholder) %>
      <%= error_message_on :shipping_method, :tracking_url %>
    <% end %>
  </div>

  <div data-hook="admin_shipping_method_form_use_jne_field" class="alpha twelve columns">
    <%= f.field_container :use_jne do %>
      <%= f.check_box :use_jne %><%= f.label :use_jne, Spree.t(:use_jne) %>
      <%= error_message_on :shipping_method, :use_jne %>
    <% end %>
  </div>
  <div id="jne-type" data-hook="admin_shipping_method_form_jne_type_field" class="alpha twelve columns" style="display:none;">
    <%= f.field_container :jne_type do %>
      <%= f.label :jne_type, Spree.t(:jne_type) %><br />
      <%= f.select :jne_type, Spree::Jne::Shipping.jne_type, {selected: f.object.jne_type}, :class => 'select2 fullwidth', :placeholder => Spree.t(:tracking_url_placeholder) %>
      <%= error_message_on :shipping_method, :jne_type %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    checkJne();
    $("#shipping_method_use_jne").click(function(){
      checkJne();
    });
    function checkJne(){
      checked = $("#shipping_method_use_jne").prop('checked');
      if(checked){
        $("#jne-type").show();
      }else{
        $("#jne-type").hide();
      }
    }
  });
</script>
<div class="alpha six columns">
  <div data-hook="admin_shipping_method_form_availability_fields" class="alpha six columns">
    <fieldset class="categories no-border-bottom">
      <legend align="center"><%= Spree.t(:shipping_categories) %></legend>
          <%= f.field_container :categories do %>
        <% Spree::ShippingCategory.all.each do |category| %>
          <%= label_tag do %>
            <%= check_box_tag('shipping_method[shipping_categories][]', category.id, @shipping_method.shipping_categories.include?(category)) %>
            <%= category.name %><br>
          <% end %>
        <% end %>
        <%= error_message_on :shipping_method, :shipping_category_id %>
      <% end %>
    </fieldset>
  </div>

  <div class="alpha six columns">
    <fieldset class="no-border-bottom">
      <legend align="center"><%= Spree.t(:zones) %></legend>
      <%= f.field_container :zones do %>
        <% shipping_method_zones = @shipping_method.zones.to_a %>
        <% Spree::Zone.all.each do |zone| %>
          <%= label_tag do %>
            <%= check_box_tag('shipping_method[zones][]', zone.id, shipping_method_zones.include?(zone)) %>
            <%= zone.name %>
          <% end %>
          <br>
        <% end %>
        <%= error_message_on :shipping_method, :zone_id %>
      <% end %>
    </fieldset>
  </div>
</div>

<div data-hook="admin_shipping_method_form_calculator_fields" class="omega six columns">
  <span><%= Spree.t('flash.message.calculator_for_jne') %></span>
  <%= render :partial => 'spree/admin/shared/calculator_fields', :locals => { :f => f } %>
</div>

<div class="alpha six columns">
  <div class="alpha six columns">
    <fieldset class="tax_categories no-border-bottom">
      <legend align="center"><%= Spree.t(:tax_category) %></legend>
        <%= f.field_container :categories do %>
          <%= f.select :tax_category_id, @tax_categories.map { |tc| [tc.name, tc.id] }, {}, :class => "select2 fullwidth" %>
          <%= error_message_on :shipping_method, :tax_category_id %>
        <% end %>
    </fieldset>
  </div>
</div>

